In [1]:
import pandas as pd

# Load the JSON file into a pandas DataFrame
df = pd.read_json('small_file_aa.json', lines=True)

In [2]:
df.columns

Index(['id', 'submitter', 'authors', 'title', 'comments', 'journal-ref', 'doi',
       'report-no', 'categories', 'license', 'abstract', 'versions',
       'update_date', 'authors_parsed'],
      dtype='object')

In [3]:
df.head()

,id,submitter,authors,title,comments,journal-ref,doi,report-no,categories,license,abstract,versions,update_date,authors_parsed
0,704.0001,Pavel Nadolsky,"C. Bal\'azs, E. L. Berger, P. M. Nadolsky, C.-...",Calculation of prompt diphoton production cros...,"37 pages, 15 figures; published version","Phys.Rev.D76:013009,2007",10.1103/PhysRevD.76.013009,ANL-HEP-PR-07-12,hep-ph,None,A fully differential calculation in perturba...,"[{'version': 'v1', 'created': 'Mon, 2 Apr 2007...",2008-11-26,"[[Balázs, C., ], [Berger, E. L., ], [Nadolsky,..."
1,704.0002,Louis Theran,Ileana Streinu and Louis Theran,Sparsity-certifying Graph Decompositions,To appear in Graphs and Combinatorics,None,None,None,math.CO cs.CG,http://arxiv.org/licenses/nonexclusive-distrib...,"We describe a new algorithm, the $(k,\ell)$-...","[{'version': 'v1', 'created': 'Sat, 31 Mar 200...",2008-12-13,"[[Streinu, Ileana, ], [Theran, Louis, ]]"
2,704.0003,Hongjun Pan,Hongjun Pan,The evolution of the Earth-Moon system based o...,"23 pages, 3 figures",None,None,None,physics.gen-ph,None,The evolution of Earth-Moon system is descri...,"[{'version': 'v1', 'created': 'Sun, 1 Apr 2007...",2008-01-13,"[[Pan, Hongjun, ]]"
3,704.0004,David Callan,David Callan,A determinant of Stirling cycle numbers counts...,11 pages,None,None,None,math.CO,None,We show that a determinant of Stirling cycle...,"[{'version': 'v1', 'created': 'Sat, 31 Mar 200...",2007-05-23,"[[Callan, David, ]]"
4,704.0005,Alberto Torchinsky,Wael Abu-Shammala and Alberto Torchinsky,From dyadic $\Lambda_{\alpha}$ to $\Lambda_{\a...,None,"Illinois J. Math. 52 (2008) no.2, 681-689",None,None,math.CA math.FA,None,In this paper we show how to compute the $\L...,"[{'version': 'v1', 'created': 'Mon, 2 Apr 2007...",2013-10-15,"[[Abu-Shammala, Wael, ], [Torchinsky, Alberto, ]]"

In [4]:
df.iloc[55000, ].versions

[{'version': 'v1', 'created': 'Fri, 21 Mar 2008 23:11:46 GMT'},
 {'version': 'v2', 'created': 'Fri, 16 May 2008 23:46:33 GMT'}]

In [5]:
df[df['comments'] != None]

,id,submitter,authors,title,comments,journal-ref,doi,report-no,categories,license,abstract,versions,update_date,authors_parsed
0,704.0001,Pavel Nadolsky,"C. Bal\'azs, E. L. Berger, P. M. Nadolsky, C.-...",Calculation of prompt diphoton production cros...,"37 pages, 15 figures; published version","Phys.Rev.D76:013009,2007",10.1103/PhysRevD.76.013009,ANL-HEP-PR-07-12,hep-ph,None,A fully differential calculation in perturba...,"[{'version': 'v1', 'created': 'Mon, 2 Apr 2007...",2008-11-26,"[[Balázs, C., ], [Berger, E. L., ], [Nadolsky,..."
1,704.0002,Louis Theran,Ileana Streinu and Louis Theran,Sparsity-certifying Graph Decompositions,To appear in Graphs and Combinatorics,None,None,None,math.CO cs.CG,http://arxiv.org/licenses/nonexclusive-distrib...,"We describe a new algorithm, the $(k,\ell)$-...","[{'version': 'v1', 'created': 'Sat, 31 Mar 200...",2008-12-13,"[[Streinu, Ileana, ], [Theran, Louis, ]]"
2,704.0003,Hongjun Pan,Hongjun Pan,The evolution of the Earth-Moon system based o...,"23 pages, 3 figures",None,None,None,physics.gen-ph,None,The evolution of Earth-Moon system is descri...,"[{'version': 'v1', 'created': 'Sun, 1 Apr 2007...",2008-01-13,"[[Pan, Hongjun, ]]"
3,704.0004,David Callan,David Callan,A determinant of Stirling cycle numbers counts...,11 pages,None,None,None,math.CO,None,We show that a determinant of Stirling cycle...,"[{'version': 'v1', 'created': 'Sat, 31 Mar 200...",2007-05-23,"[[Callan, David, ]]"
4,704.0005,Alberto Torchinsky,Wael Abu-Shammala and Alberto Torchinsky,From dyadic $\Lambda_{\alpha}$ to $\Lambda_{\a...,None,"Illinois J. Math. 52 (2008) no.2, 681-689",None,None,math.CA math.FA,None,In this paper we show how to compute the $\L...,"[{'version': 'v1', 'created': 'Mon, 2 Apr 2007...",2013-10-15,"[[Abu-Shammala, Wael, ], [Torchinsky, Alberto, ]]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,1103.2727,Giulia Pancheri Dr.,Luisa Bonolis and Giulia Pancheri,Bruno Touschek: particle physicist and father ...,To be published in EPJH,"Eur.Phys.J.H36:1-61,2011",10.1140/epjh/e2011-10044-1,"MIT-CTP 4212, LNF-11/01(P)",physics.hist-ph,http://arxiv.org/licenses/nonexclusive-distrib...,This article gives a brief outline of the li...,"[{'version': 'v1', 'created': 'Mon, 14 Mar 201...",2015-03-19,"[[Bonolis, Luisa, ], [Pancheri, Giulia, ]]"
249996,1103.2728,Sam Waldman,S. J. Waldman (the LIGO Scientific Collaboration),The Advanced LIGO Gravitational Wave Detector,This paper was originally prepared for the pro...,None,None,LIGO P0900115-v2,gr-qc,http://arxiv.org/licenses/nonexclusive-distrib...,The Advanced LIGO gravitational wave detecto...,"[{'version': 'v1', 'created': 'Mon, 14 Mar 201...",2011-03-15,"[[Waldman, S. J., , the LIGO Scientific Collab..."
249997,1103.2729,Zhu Wang,Traian iliescu and Zhu Wang,Variational Multiscale Proper Orthogonal Decom...,"22 pages, 4 figures",None,None,None,math.NA,http://arxiv.org/licenses/nonexclusive-distrib...,We introduce a variational multiscale closur...,"[{'version': 'v1', 'created': 'Mon, 14 Mar 201...",2015-03-19,"[[iliescu, Traian, ], [Wang, Zhu, ]]"
249998,1103.2730,P. S. Howe,J. Greitz and P.S. Howe,Maximal supergravity in three dimensions: supe...,27 pages. Small changes to the text; added ref...,"JHEP 1107:071,2011",10.1007/JHEP07(2011)071,KCL-MTH-11-07,hep-th,http://arxiv.org/licenses/nonexclusive-distrib...,The maximal supergravity theory in three dim...,"[{'version': 'v1', 'created': 'Mon, 14 Mar 201...",2011-07-21,"[[Greitz, J., ], [Howe, P. S., ]]"
249999,1103.2731,Vincent Pilaud,Vincent Pilaud and Francisco Santos,The brick polytope of a sorting network,"36 pages, 25 figures; Version 2 refers to the ...","European J. Combin., 33(4):632-662, 2012",10.1016/j.ejc.2011.12.003,None,math.CO math.MG,http://arxiv.org/licenses/nonexclusive-distrib...,The associahedron is a polytope whose graph ...,"[{'version': 'v1', 'created': 'Mon, 14 Mar 201...",2013-10-29,"[[Pilaud, Vincent, ], [Santos, Francisco, ]]"

In [6]:
df[df['title'].str.split().str.len() < 2]

,id,submitter,authors,title,comments,journal-ref,doi,report-no,categories,license,abstract,versions,update_date,authors_parsed
1378,704.1379,Michael Mayer,"Wei Lao, Michael Mayer",U-max-Statistics,16 pages,None,None,None,math.ST math.PR stat.TH,None,"In 1948, W. Hoeffding introduced a large cla...","[{'version': 'v1', 'created': 'Wed, 11 Apr 200...",2007-05-23,"[[Lao, Wei, ], [Mayer, Michael, ]]"
6895,705.2893,Luis Raul Abramo,L. Raul Abramo and Patrick Peter,K-Bounce,Replaced with version accepted to JCAP,"JCAP0709:001,2007",10.1088/1475-7516/2007/09/001,None,astro-ph gr-qc hep-th,None,By demanding that a bounce is nonsingular an...,"[{'version': 'v1', 'created': 'Sun, 20 May 200...",2008-11-26,"[[Abramo, L. Raul, ], [Peter, Patrick, ]]"
11607,706.2921,Peter Richardson,"Martyn Gigg and Peter Richardson (IPPP, Durham...",Herwig++,Talk given at 42nd Rencontres de Moriond on QC...,None,None,None,hep-ph,None,We describe the recent development of the He...,"[{'version': 'v1', 'created': 'Wed, 20 Jun 200...",2007-06-21,"[[Gigg, Martyn, , IPPP, Durham University], [R..."
12165,706.3479,David Love,David Love,Hypocomputation,34 pages,None,None,None,cs.OH,None,"Hypercomputational formal theories will, cle...","[{'version': 'v1', 'created': 'Sat, 23 Jun 200...",2011-11-10,"[[Love, David, ]]"
18146,708.0295,Alyson Wilson,"Sallie Keller-McNulty, Alyson Wilson, Christin...",Reliability,Published at http://dx.doi.org/10.1214/0883423...,"Statistical Science 2006, Vol. 21, No. 4, 427-427",10.1214/088342306000000664,IMS-STS-STS214INTRO,stat.ME,None,This special volume of Statistical Sciences ...,"[{'version': 'v1', 'created': 'Thu, 2 Aug 2007...",2009-09-29,"[[Keller-McNulty, Sallie, ], [Wilson, Alyson, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234762,1012.5394,Ryuichiro Kitano,"Hiraku Fukushima, Ryuichiro Kitano, Masahiro Y...",SuperTopcolor,20 pages,"JHEP 1101:111,2011",10.1007/JHEP01(2011)111,TU-876,hep-ph hep-th,http://arxiv.org/licenses/nonexclusive-distrib...,We consider a supersymmetric QCD with soft s...,"[{'version': 'v1', 'created': 'Fri, 24 Dec 201...",2011-01-28,"[[Fukushima, Hiraku, ], [Kitano, Ryuichiro, ],..."
235219,1012.5851,H. C. Spruit,"F. Zaussinger, H.C. Spruit",Semiconvection,Corrects an error in previous version: mixing ...,None,None,None,astro-ph.SR physics.flu-dyn,http://arxiv.org/licenses/nonexclusive-distrib...,A grid of numerical simulations of double-di...,"[{'version': 'v1', 'created': 'Tue, 28 Dec 201...",2015-03-17,"[[Zaussinger, F., ], [Spruit, H. C., ]]"
236707,1101.1294,Veronica Sanz,"Thomas Gregoire, Emanuel Katz, Veronica Sanz",Toptet,Modifications on the manuscript,None,10.1103/PhysRevD.85.055024,None,hep-ph hep-ex,http://arxiv.org/licenses/nonexclusive-distrib...,Final states with four tops appear in variou...,"[{'version': 'v1', 'created': 'Thu, 6 Jan 2011...",2015-03-17,"[[Gregoire, Thomas, ], [Katz, Emanuel, ], [San..."
239673,1101.4260,Mahfuza Sharmin,"Nashid Shahriar, Mahfuza Sharmin, Reaz Ahmed, ...",Networking,None,None,None,None,cs.NI cs.DC,http://arxiv.org/licenses/nonexclusive-distrib...,This paper discusses an efficient approach t...,"[{'version': 'v1', 'created': 'Sat, 22 Jan 201...",2015-03-17,"[[Shahriar, Nashid, ], [Sharmin, Mahfuza, ], [..."
248407,1103.1139,Viktor Shapovalov,Viktor I. Shapovalov,Entrostat,"9 pages, 1 figure",None,None,None,physics.gen-ph,http://arxiv.org/licenses/nonexclusive-distrib...,The reasons for introducing the concept of t...,"[{'version': 'v1', 'created': 'Sun, 6 Mar 2011...",2011-03-08,"[[Shapovalov, Viktor I., ]]"

In [7]:
df.isnull().sum()

id                     0
submitter              0
authors                0
title                  0
comments           36480
journal-ref       126845
doi                98608
report-no         228332
categories             0
license            43229
abstract               0
versions               0
update_date            0
authors_parsed         0
dtype: int64

In [8]:
#drop short titles
df = df[df['title'].str.split().str.len() >= 2]

In [9]:
# Drop rows with empty authors
df[df['authors'].notnull() & (df['authors'] == '')]

Empty DataFrame
Columns: [id, submitter, authors, title, comments, journal-ref, doi, report-no, categories, license, abstract, versions, update_date, authors_parsed]
Index: []

In [10]:
df = df.drop('abstract', axis=1)

In [11]:
#drop rows where doi is empty
df = df[df['doi'].notnull()]

In [12]:
df_small = df.sample(10)

In [13]:
'''import requests
import pandas as pd
import time

# Function to get additional information from Crossref API
def get_crossref_info(doi):
    base_url = "https://api.crossref.org/works/"
    try:
        response = requests.get(base_url + doi)
        if response.status_code == 200:
            return response.json()['message']
        else:
            return {}
    except requests.RequestException:
        return {}

# Function to extract needed information from Crossref data
def extract_needed_info(crossref_data):
    # Define the fields you need from Crossref
    fields_needed = ['publisher', 'published-print', 'published-online', 'reference-count', 'type', 'bibtex']
    extracted_info = {field: crossref_data.get(field, None) for field in fields_needed}

    # Determine publication type from 'type' field
    if 'type' in crossref_data:
        publication_type = crossref_data['type']
        if publication_type == 'journal-article':
            extracted_info['publication_type'] = '@article'
        elif publication_type in ['proceedings-article', 'conference-paper']:
            extracted_info['publication_type'] = '@inproceedings'
        # Add more mappings as necessary

    return extracted_info

'''

'import requests\nimport pandas as pd\nimport time\n\n# Function to get additional information from Crossref API\ndef get_crossref_info(doi):\n    base_url = "https://api.crossref.org/works/"\n    try:\n        response = requests.get(base_url + doi)\n        if response.status_code == 200:\n            return response.json()[\'message\']\n        else:\n            return {}\n    except requests.RequestException:\n        return {}\n\n# Function to extract needed information from Crossref data\ndef extract_needed_info(crossref_data):\n    # Define the fields you need from Crossref\n    fields_needed = [\'publisher\', \'published-print\', \'published-online\', \'reference-count\', \'type\', \'bibtex\']\n    extracted_info = {field: crossref_data.get(field, None) for field in fields_needed}\n\n    # Determine publication type from \'type\' field\n    if \'type\' in crossref_data:\n        publication_type = crossref_data[\'type\']\n        if publication_type == \'journal-article\':\n            extracted_info[\'publication_type\'] = \'@article\'\n        elif publication_type in [\'proceedings-article\', \'conference-paper\']:\n            extracted_info[\'publication_type\'] = \'@inproceedings\'\n        # Add more mappings as necessary\n\n    return extracted_info\n\n'

In [14]:
'''# Ensure columns exist in DataFrame
for field in ['publisher', 'published-print', 'published-online', 'reference-count', 'type', 'subject', 'bibtex', 'publication_type']:
    if field not in df.columns:
        df[field] = None

# Batch processing
batch_size = 1000  # Adjust based on your needs
for start in range(0, len(df), batch_size):
    end = start + batch_size
    batch = df.iloc[start:end]

    for index, row in batch.iterrows():
        crossref_data = get_crossref_info(row['doi'])
        additional_info = extract_needed_info(crossref_data)
        for key, value in additional_info.items():
            df.at[index, key] = value

        # Delay to avoid hitting rate limit
        time.sleep(0.2)'''

"# Ensure columns exist in DataFrame\nfor field in ['publisher', 'published-print', 'published-online', 'reference-count', 'type', 'subject', 'bibtex', 'publication_type']:\n    if field not in df.columns:\n        df[field] = None\n\n# Batch processing\nbatch_size = 1000  # Adjust based on your needs\nfor start in range(0, len(df), batch_size):\n    end = start + batch_size\n    batch = df.iloc[start:end]\n\n    for index, row in batch.iterrows():\n        crossref_data = get_crossref_info(row['doi'])\n        additional_info = extract_needed_info(crossref_data)\n        for key, value in additional_info.items():\n            df.at[index, key] = value\n\n        # Delay to avoid hitting rate limit\n        time.sleep(0.2)"

In [26]:
import aiohttp
import asyncio
import pandas as pd
import json
import os
import nest_asyncio

# Apply the necessary patch for asyncio in Jupyter
nest_asyncio.apply()

# Function to make asynchronous API calls
async def fetch(session, url):
    try:
        async with session.get(url) as response:
            if response.status == 200:
                return await response.text()
            else:
                return None
    except Exception as e:
        print(f"Error fetching URL {url}: {e}")
        return None

# Asynchronous batch processing function
async def fetch_all(dois):
    async with aiohttp.ClientSession() as session:
        tasks = []
        for doi in dois:
            url = f"https://api.crossref.org/works/{doi}"
            tasks.append(fetch(session, url))
        responses = await asyncio.gather(*tasks)
        return responses

# Function to extract needed information from Crossref data
def extract_needed_info(crossref_data):
    fields_needed = ['publisher', 'published-print', 'published-online', 'reference-count', 'type', 'bibtex', 'subject']
    extracted_info = {field: crossref_data.get(field, None) for field in fields_needed}

    # Determine publication type from 'type' field
    if 'type' in crossref_data:
        publication_type = crossref_data['type']
        if publication_type == 'journal-article':
            extracted_info['publication_type'] = '@article'
        elif publication_type in ['proceedings-article', 'conference-paper']:
            extracted_info['publication_type'] = '@inproceedings'

    # Extracting field of study (subject area)
    if 'subject' in crossref_data:
        subjects = crossref_data['subject']
        extracted_info['field_of_study'] = subjects

    return extracted_info

In [27]:
import warnings
warnings.filterwarnings('ignore')

In [28]:
# Check for additional fields and add them if not present
additional_fields = ['publisher', 'published-print', 'published-online', 'reference-count', 'type', 'bibtex', 'subject', 'publication_type']
for field in additional_fields:
    if field not in df.columns:
        df[field] = None

# Load checkpoint
checkpoint_file = 'checkpoint.txt'
start_index = 0
if os.path.exists(checkpoint_file):
    with open(checkpoint_file, 'r') as file:
        start_index = int(file.read().strip())

# Batch processing with async
batch_size = 100  # Adjust based on your needs
for start in range(start_index, len(df), batch_size):
    end = min(start + batch_size, len(df))
    batch_dois = df['doi'][start:end].tolist()

    # Fetch data asynchronously using the existing event loop
    responses = await fetch_all(batch_dois)  # Note the use of 'await' directly

    # Process responses and update DataFrame
    for i, response in enumerate(responses):
        if response:
            data = json.loads(response)
            crossref_data = data.get('message', {})
            additional_info = extract_needed_info(crossref_data)
            for key, value in additional_info.items():
                df.at[start + i, key] = value

    # Save checkpoint
    with open(checkpoint_file, 'w') as file:
        file.write(str(end))

    # Save DataFrame periodically
    df.to_csv('updated_data.csv', index=False)

## You can start here

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('updated_data.csv')

/var/folders/jk/l00p5drx06x4xyl4hrrg59mh0000gn/T/ipykernel_41824/686861767.py:1: DtypeWarning: Columns (13,14,15,17,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('updated_data.csv')

In [3]:
df1 = df.sample(20)

In [4]:
df['publication_type'].value_counts()

@article          90
@inproceedings     5
Name: publication_type, dtype: int64

In [5]:
import pandas as pd
import requests

def get_crossref_author_info(doi):
    """
    Query Crossref API to get author information based on DOI.
    """
    url = f"https://api.crossref.org/works/{doi}"
    try:
        response = requests.get(url)
        if response.status_code == 200:
            authors = response.json()['message'].get('author', [])
            author_names = [f"{author.get('given', '')} {author.get('family', '')}".strip() for author in authors]
            return ', '.join(author_names)
        else:
            return None
    except requests.RequestException:
        return None

def get_crossref_publication_info(doi):
    """
    Query Crossref API to get other publication information based on DOI.
    """
    url = f"https://api.crossref.org/works/{doi}"
    try:
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()['message']
            publication_title = data.get('title', [None])[0]
            return publication_title
        else:
            return None
    except requests.RequestException:
        return None

In [6]:
# Iterate over DataFrame rows
for index, row in df1.iterrows():
    if pd.notna(row['doi']):
        author_info = get_crossref_author_info(row['doi'])
        publication_info = get_crossref_publication_info(row['doi'])

        # Update DataFrame with the author and publication information
        df1.at[index, 'refined_authors'] = author_info
        df1.at[index, 'refined_publication_title'] = publication_info

In [7]:
df1.shape

(20, 24)

In [8]:
df1.columns

Index(['id', 'submitter', 'authors', 'title', 'comments', 'journal-ref', 'doi',
       'report-no', 'categories', 'license', 'versions', 'update_date',
       'authors_parsed', 'publisher', 'published-print', 'published-online',
       'reference-count', 'type', 'bibtex', 'subject', 'publication_type',
       'field_of_study', 'refined_authors', 'refined_publication_title'],
      dtype='object')

In [9]:
df1.head()

,id,submitter,authors,title,comments,journal-ref,doi,report-no,categories,license,...,published-print,published-online,reference-count,type,bibtex,subject,publication_type,field_of_study,refined_authors,refined_publication_title
141021,1012.3204,Vivian de la Incera,"Jin-cheng Wang, Vivian de la Incera, Efrain J....",Magnetic Tuning of the Relativistic BCS-BEC Cr...,Extensively revised version. New version with ...,NaN,10.1103/PhysRevD.84.065014,NaN,nucl-th astro-ph.HE astro-ph.SR cond-mat.supr-...,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jin-cheng Wang, Vivian de la Incera, Efrain J....",Magnetic tuning of the relativistic BCS-BEC cr...
104852,1002.1738,Meirong Huang,"M. Huang, A. Bonasera, Z. Chen, R. Wada, K. Ha...",The Isospin Dependence Of The Nuclear Equation...,"14 pages, 18 figures","Phys.Rev.C81:044618,2010",10.1103/PhysRevC.81.044618,NaN,nucl-ex nucl-th,http://creativecommons.org/licenses/by/3.0/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"M. Huang, A. Bonasera, Z. Chen, R. Wada, K. Ha...",Isospin dependence of the nuclear equation of ...
138118,1011.4912,Tomislav Ivek,"T. Ivek, B. Korin-Hamzi\'c, O. Milat, S. Tomi\...",Electrodynamic Response of the Charge Ordering...,"13 pages, 16 figures, resubmitted to Phys. Rev. B",NaN,10.1103/PhysRevB.83.165128,NaN,cond-mat.str-el,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"T. Ivek, B. Korin-Hamzić, O. Milat, S. Tomić, ...",Electrodynamic response of the charge ordering...
68982,903.1609,Valentin Z. Hristov,Ivan H. Dimovski and Valentin Z. Hristov,Nonlocal Operational Calculi for Dunkl Operators,NaN,"SIGMA 5 (2009), 030, 16 pages",10.3842/SIGMA.2009.030,NaN,math.CA,http://creativecommons.org/licenses/by-nc-sa/3.0/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ivan H. Dimovski,Nonlocal Operational Calculi for Dunkl Operators
1528,704.2315,Miguel Angel Martin-Delgado,"A. Bermudez, M.A. Martin-Delgado, E. Solano",Exact Mapping of the 2+1 Dirac Oscillator onto...,"Revtex4, submitted for publication","Rap. Comm. PRA 76, 041801 (R) (2007)",10.1103/PhysRevA.76.041801,NaN,quant-ph,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A. Bermudez, M. A. Martin-Delgado, E. Solano","Exact mapping of the<mml:math xmlns:mml=""http:..."

In [10]:
df1.iloc[1]

id                                                                   1002.1738
submitter                                                        Meirong Huang
authors                      M. Huang, A. Bonasera, Z. Chen, R. Wada, K. Ha...
title                        The Isospin Dependence Of The Nuclear Equation...
comments                                                  14 pages, 18 figures
journal-ref                                           Phys.Rev.C81:044618,2010
doi                                                 10.1103/PhysRevC.81.044618
report-no                                                                  NaN
categories                                                     nucl-ex nucl-th
license                            http://creativecommons.org/licenses/by/3.0/
versions                     [{'version': 'v1', 'created': 'Tue, 9 Feb 2010...
update_date                                                         2010-05-12
authors_parsed               [['Huang', 'M.', ''], ['Bonasera', 'A.', ''], ...
publisher                                                                  NaN
published-print                                                            NaN
published-online                                                           NaN
reference-count                                                            NaN
type                                                                       NaN
bibtex                                                                     NaN
subject                                                                    NaN
publication_type                                                           NaN
field_of_study                                                             NaN
refined_authors              M. Huang, A. Bonasera, Z. Chen, R. Wada, K. Ha...
refined_publication_title    Isospin dependence of the nuclear equation of ...
Name: 104852, dtype: object

In [11]:
import pandas as pd
import requests
import xml.etree.ElementTree as ET

def query_dblp_for_venue(title):
    url = f"https://dblp.org/search/publ/api?q={requests.utils.quote(title)}&format=xml"
    try:
        response = requests.get(url)
        if response.status_code == 200:
            root = ET.fromstring(response.content)
            hits = root.findall(".//hit")
            if hits:
                # Example: Just using the first hit, but you might want to refine this
                first_hit = hits[0]
                info = first_hit.find('.//info')
                venue = info.find('venue').text if info is not None and info.find('venue') is not None else 'Unknown'
                return venue
            else:
                return 'Unknown'
        else:
            return 'Unknown'
    except requests.RequestException:
        return 'Unknown'

In [12]:
# Iterate over DataFrame rows
for index, row in df1.iterrows():
    if pd.notna(row['title']):
        venue_info = query_dblp_for_venue(row['title'])
        df1.at[index, 'resolved_venue'] = venue_info

In [13]:
df1['resolved_venue'].value_counts()

Unknown    20
Name: resolved_venue, dtype: int64

In [14]:
def query_dblp_for_venue(title):
    """
    Query the DBLP API to resolve venue names using the title of the publication.
    """
    url = f"https://dblp.org/search/publ/api?q={requests.utils.quote(title)}&format=xml"
    try:
        response = requests.get(url)
        if response.status_code == 200:
            root = ET.fromstring(response.content)
            hits = root.findall(".//hit")
            if hits:
                first_hit = hits[0]
                info = first_hit.find('.//info')
                venue = info.find('venue').text if info is not None and info.find('venue') is not None else 'Unknown'
                return venue
            else:
                return 'Unknown'
        else:
            return 'Unknown'
    except requests.RequestException:
        return 'Unknown'

In [15]:
from scholarly import scholarly, ProxyGenerator
def query_scholarly_for_venue(title):
    try:
        search_query = scholarly.search_pubs(title)
        publication = next(search_query)
        return publication['bib']['venue'] if 'venue' in publication['bib'] else 'Unknown'
    except Exception:
        return 'Unknown'

In [16]:
# pg = ProxyGenerator()
# pg.FreeProxies()
# scholarly.use_proxy(pg)

In [17]:
# Iterate over DataFrame rows
for index, row in df1.iterrows():
    # Use scholarly for fetching venue information
    venue_info = query_scholarly_for_venue(row['title'])
    df1.at[index, 'refined_venue'] = venue_info
    print('done')

done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done

In [18]:
df1.refined_venue.value_counts()

Unknown                                          14
SIGMA. Symmetry, Integrability and Geometry …     1
arXiv preprint arXiv …                            1
Monthly Notices of the Royal …                    1
Advances in Mathematics                           1
Physics of Fluids                                 1
Journal of applied physics                        1
Name: refined_venue, dtype: int64

In [19]:
df1

,id,submitter,authors,title,comments,journal-ref,doi,report-no,categories,license,...,reference-count,type,bibtex,subject,publication_type,field_of_study,refined_authors,refined_publication_title,resolved_venue,refined_venue
141021,1012.3204,Vivian de la Incera,"Jin-cheng Wang, Vivian de la Incera, Efrain J....",Magnetic Tuning of the Relativistic BCS-BEC Cr...,Extensively revised version. New version with ...,NaN,10.1103/PhysRevD.84.065014,NaN,nucl-th astro-ph.HE astro-ph.SR cond-mat.supr-...,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,"Jin-cheng Wang, Vivian de la Incera, Efrain J....",Magnetic tuning of the relativistic BCS-BEC cr...,Unknown,Unknown
104852,1002.1738,Meirong Huang,"M. Huang, A. Bonasera, Z. Chen, R. Wada, K. Ha...",The Isospin Dependence Of The Nuclear Equation...,"14 pages, 18 figures","Phys.Rev.C81:044618,2010",10.1103/PhysRevC.81.044618,NaN,nucl-ex nucl-th,http://creativecommons.org/licenses/by/3.0/,...,NaN,NaN,NaN,NaN,NaN,NaN,"M. Huang, A. Bonasera, Z. Chen, R. Wada, K. Ha...",Isospin dependence of the nuclear equation of ...,Unknown,Unknown
138118,1011.4912,Tomislav Ivek,"T. Ivek, B. Korin-Hamzi\'c, O. Milat, S. Tomi\...",Electrodynamic Response of the Charge Ordering...,"13 pages, 16 figures, resubmitted to Phys. Rev. B",NaN,10.1103/PhysRevB.83.165128,NaN,cond-mat.str-el,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,"T. Ivek, B. Korin-Hamzić, O. Milat, S. Tomić, ...",Electrodynamic response of the charge ordering...,Unknown,Unknown
68982,903.1609,Valentin Z. Hristov,Ivan H. Dimovski and Valentin Z. Hristov,Nonlocal Operational Calculi for Dunkl Operators,NaN,"SIGMA 5 (2009), 030, 16 pages",10.3842/SIGMA.2009.030,NaN,math.CA,http://creativecommons.org/licenses/by-nc-sa/3.0/,...,NaN,NaN,NaN,NaN,NaN,NaN,Ivan H. Dimovski,Nonlocal Operational Calculi for Dunkl Operators,Unknown,"SIGMA. Symmetry, Integrability and Geometry …"
1528,704.2315,Miguel Angel Martin-Delgado,"A. Bermudez, M.A. Martin-Delgado, E. Solano",Exact Mapping of the 2+1 Dirac Oscillator onto...,"Revtex4, submitted for publication","Rap. Comm. PRA 76, 041801 (R) (2007)",10.1103/PhysRevA.76.041801,NaN,quant-ph,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"A. Bermudez, M. A. Martin-Delgado, E. Solano","Exact mapping of the<mml:math xmlns:mml=""http:...",Unknown,Unknown
106182,1002.3948,Guy F. de T\'eramond,"Stanley J. Brodsky, Guy F. de T\'eramond, Alex...",Nonperturbative QCD Coupling and its $\beta$ f...,"32 pages, 7 figures. Final version published i...","Phys.Rev.D81:096010,2010",10.1103/PhysRevD.81.096010,"SLAC-PUB-13840, JLAB-PHY-10-1128",hep-ph hep-lat hep-th,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,"Stanley J. Brodsky, Guy F. de Téramond, Alexan...",Nonperturbative QCD coupling and its<mml:math ...,Unknown,Unknown
97657,912.0337,Wei Wang,W. Wang,Discovery of a magnetic neutron star in X-ray ...,"6 pages, 8 figures, 2 tables, to be published ...",NaN,10.1051/0004-6361/200913196,NaN,astro-ph.HE astro-ph.SR,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,W. Wang,Discovery of a magnetic neutron star in X-ray ...,Unknown,Unknown
3186,705.0937,Adolfo del Campo,"A. del Campo, J. G. Muga, M. D. Girardeau",Stability of spinor Fermi gases in tight waveg...,"5 pages, 6 figures","Phys. Rev. A 76, 013615 (2007)",10.1103/PhysRevA.76.013615,NaN,cond-mat.other quant-ph,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"A. del Campo, J. G. Muga, M. D. Girardeau",Stability of spinor Fermi gases in tight waveg...,Unknown,Unknown
64315,901.3625,Ole S{\o}e S{\o}rensen,"O. Soe Sorensen, N. Nygaard, P. B. Blakie",Adiabatic cooling of a tunable Bose-Fermi mixt...,"10 pages, 7 figures","Phys. Rev. A 79, 063615 (2009)",10.1103/PhysRevA.79.063615,NaN,cond-mat.other,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,"O. Søe Sørensen, N. Nygaard, P. B. Blakie",Adiabatic cooling of a tunable Bose-Fermi mixt...,Unknown,Unknown
82296,907.2462,Kevin Hurley,"K. Hurley, A. Rowlinson, E. Bellm, D. Perley, ...","A new analysis of the short-duration, hard-spe...","11 pages, 6 figures. Resubmitted to MNRAS. Thi...",NaN,10.1111/j.1365-2966.2009.16118.x,NaN,astro-ph.HE,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,"K. Hurley, A. Rowlinson, E. Bellm, D. Perley, ...","A new analysis of the short-duration, hard-spe...",Unknown,arXiv preprint arXiv …
110473,1003.6047,Sadhan Adhikari K,S. K. Adhikari,Localization of a Bose-Einstein condensate vor...,NaN,Phys. Rev. A 81 (2010) 043636 (pp1-8),10.1103/PhysRevA.81.043636,NaN,cond-mat.quant-gas,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,S. K. Adhikari,Localization of a Bose-Einstein-condensate vor...,Unknown,Unknown
3681,705.1756,Christian Boehmer,"C. G. Boehmer, T. Harko",On Einstein clusters as galactic dark matter h...,"MNRAS LaTeX, 7 pages, accepted by MNRAS; refer...","Mon.Not.Roy.Astron.Soc.379:393-398,2007",10.1111/j.1365-2966.2007.11977.x,NaN,gr-qc astro-ph,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"C. G. Bohmer, T. Harko",On Einstein clusters as galactic dark matter h...,Unknown,Monthly Notices of the Royal …
5577,706.0030,Yujie Wang,"Y.J. Wang, Kyoung-Su Im, K. Fezzaa",Similarity between the primary and secondary a...,"15 pages, 4 figures",NaN,10.1103/PhysRevLett.100.154502,NaN,physics.flu-dyn,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Yujie Wang, Kyoung-Su Im, Kamel Fezzaa",Similarity between the Primary and Secondary A...,Unknown,Unknown
127375,1008.4894,Ahmed Hamed,Ahmed M. Hamed,Azimuthal anisotropy ($v_{2}$) of high-p$_{T}$...,"4 pages, 2 figures, Hot Quarks 2010, LaLonde F...","J.Phys.Conf.Ser.270:012010,2011",10.1088/1742-6596/270/1/012010,NaN,nucl-ex,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,"Ahmed Hamed,",Azimuthal anisotropy (<i>v</i><sub>2</sub>) of...,Unknown,Unknown
135714,1011.0925,Yurii V. Brezhnev,Yu. V. Brezhnev,A note on Chudnovsky's Fuchsian equations,"Final version; LaTeX, 27 pages, 1 table, no fi...",Journal of Differential Equations (2012) v.253...,10.1016/j.jde.2012.09.004,NaN,math.CA nlin.SI,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,Yurii V. Brezhnev,A note on Chudnovskyʼs Fuchsian equations,Unknown,Advances in Mathematics
125825,1008.2411,Molin Liu,"Molin Liu, Benhai Yu, Rumin Wang, Lixin Xu",Scattering of scalar perturbations with cosmol...,"12 pages, 6 figures","Mod.Phys.Lett.25:2431-2445,2010",10.1142/S0217732310033621,NaN,gr-qc hep-ph hep-th,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,"MOLIN LIU, BENHAI YU, RUMIN WANG, LIXIN XU",SCATTERING OF SCALAR PERTURBATIONS WITH COSMOL...,Unknown,Unknown
112611,1004.3582,Elias Gravanis,Elias Gravanis,Conserved charges in (Lovelock) gravity in fir...,"20 pages, no figures","Phys.Rev.D81:084013,2010",10.1103/PhysRevD.81.084013,NaN,gr-qc hep-th,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,Elias Gravanis,Conserved charges in (Lovelock) gravity in fir...,Unknown,Unknown
18062,710.2255,Robin Wordsworth,Robin D. Wordsworth,A phase-space study of jet formation in planet...,"10 pages, 10 figures",Phys Fluids 21 (2009) 056602,10.1063/1.3140002,NaN,physics.flu-dyn physics.ao-ph,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,R. D. Wordsworth,A phase-space study of jet formation in planet...,Unknown,Physics of Fluids
42069,806.2666,Gabor Pszota,"Gabor Pszota, Hui Zhang, Feng Yuan and Wei Cui",Origin of X-ray Emission from Transient Black ...,"6 pages, 2 figures and 3 tables. Accepted to M...",NaN,10.1111/j.1365-2966.2008.13587.x,NaN,astro-ph,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,NaN,NaN,"Gabor Pszota, Hui Zhang, Feng Yuan, Wei Cui",Origin of X-ray emission from transient black ...,Unknown,Unknown
23603,712.0861,Yin-Zhong Wu,"Yong-Mei Tao, Yin-Zhong Wu",Effects of anisotropic in-plane strains on the...,"12 pages, 4 figures","Journal Applied Physics 101,024111(2007)",10.1063/1.2430642,NaN,cond-mat.mtrl-sci cond-mat.soft,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Y. M. Tao, Y. Z. Wu",Effects of anisotropic in-plane strains on the...,Unknown,Journal of applied physics

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 141021 to 23603
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         20 non-null     float64
 1   submitter                  20 non-null     object
 2   authors                    20 non-null     object
 3   title                      20 non-null     object
 4   comments                   18 non-null     object
 5   journal-ref                14 non-null     object
 6   doi                        20 non-null     object
 7   report-no                  1 non-null      object
 8   categories                 20 non-null     object
 9   license                    15 non-null     object
 10  versions                   20 non-null     object
 11  update_date                20 non-null     object
 12  authors_parsed             20 non-null     object
 13  publisher                  0 non-null      object
 14  published-print            0 non-null      object
 15  published-online           0 non-null      object
 16  reference-count            0 non-null      float64
 17  type                       0 non-null      object
 18  bibtex                     0 non-null      float64
 19  subject                    0 non-null      object
 20  publication_type           0 non-null      object
 21  field_of_study             0 non-null      object
 22  refined_authors            20 non-null     object
 23  refined_publication_title  20 non-null     object
 24  resolved_venue             20 non-null     object
 25  refined_venue              20 non-null     object
dtypes: float64(3), object(23)
memory usage: 4.8+ KB

In [21]:
import pandas as pd
import requests


# Define a function to infer gender for a given name using the Genderize.io API
def infer_gender(name):
    url = f"https://api.genderize.io?name={name}"
    
    response = requests.get(url)
    if response.status_code == 200:
        result = response.json()
        return result.get("gender", "unknown")
    else:
        return "unknown"

def process_authors(authors):
    # Split the author string by comma to get individual names
    author_list = authors.split(", ")
    gendered_authors = []

    for author in author_list:
        # Check if the author's name is not empty and contains a space
        if author and " " in author:
            # Extract first name (assuming first word is the first name)
            first_name = author.split()[0]
            # Infer gender for the first name
            gender = infer_gender(first_name)
        else:
            # Default to 'unknown' if the author's name is not in the expected format
            gender = "unknown"

        # Append the author name with gender
        gendered_authors.append(f"{author} ({gender})")

    return ", ".join(gendered_authors)

In [22]:
# Apply the function to the 'refined_authors' column
df1['authors_with_gender'] = df1['refined_authors'].apply(process_authors)

In [23]:
df1.iloc[1]

id                                                                   1002.1738
submitter                                                        Meirong Huang
authors                      M. Huang, A. Bonasera, Z. Chen, R. Wada, K. Ha...
title                        The Isospin Dependence Of The Nuclear Equation...
comments                                                  14 pages, 18 figures
journal-ref                                           Phys.Rev.C81:044618,2010
doi                                                 10.1103/PhysRevC.81.044618
report-no                                                                  NaN
categories                                                     nucl-ex nucl-th
license                            http://creativecommons.org/licenses/by/3.0/
versions                     [{'version': 'v1', 'created': 'Tue, 9 Feb 2010...
update_date                                                         2010-05-12
authors_parsed               [['Huang', 'M.', ''], ['Bonasera', 'A.', ''], ...
publisher                                                                  NaN
published-print                                                            NaN
published-online                                                           NaN
reference-count                                                            NaN
type                                                                       NaN
bibtex                                                                     NaN
subject                                                                    NaN
publication_type                                                           NaN
field_of_study                                                             NaN
refined_authors              M. Huang, A. Bonasera, Z. Chen, R. Wada, K. Ha...
refined_publication_title    Isospin dependence of the nuclear equation of ...
resolved_venue                                                         Unknown
refined_venue                                                          Unknown
authors_with_gender          M. Huang (male), A. Bonasera (None), Z. Chen (...
Name: 104852, dtype: object

In [24]:
df1.categories.unique()

array(['nucl-th astro-ph.HE astro-ph.SR cond-mat.supr-con hep-ph',
       'nucl-ex nucl-th', 'cond-mat.str-el', 'math.CA', 'quant-ph',
       'hep-ph hep-lat hep-th', 'astro-ph.HE astro-ph.SR',
       'cond-mat.other quant-ph', 'cond-mat.other', 'astro-ph.HE',
       'cond-mat.quant-gas', 'gr-qc astro-ph', 'physics.flu-dyn',
       'nucl-ex', 'math.CA nlin.SI', 'gr-qc hep-ph hep-th',
       'gr-qc hep-th', 'physics.flu-dyn physics.ao-ph', 'astro-ph',
       'cond-mat.mtrl-sci cond-mat.soft'], dtype=object)

In [25]:
def map_category_to_field_of_study(category):
    if 'astro-ph' in category:
        return "Astronomy and Astrophysics"
    elif 'hep-ph' in category or 'hep-ex' in category:
        return "High Energy Physics"
    elif 'quant-ph' in category:
        return "Quantum Physics"
    elif 'cond-mat' in category:
        return "Condensed Matter Physics"
    elif 'math' in category:
        return "Mathematics"
    elif 'stat' in category:
        return "Statistics"
    else:
        return "Other"

In [26]:
# Apply the function to create a new column
df1['field_of_study'] = df1['categories'].apply(map_category_to_field_of_study)

In [27]:
df1.sample(2)

,id,submitter,authors,title,comments,journal-ref,doi,report-no,categories,license,...,type,bibtex,subject,publication_type,field_of_study,refined_authors,refined_publication_title,resolved_venue,refined_venue,authors_with_gender
141021,1012.3204,Vivian de la Incera,"Jin-cheng Wang, Vivian de la Incera, Efrain J....",Magnetic Tuning of the Relativistic BCS-BEC Cr...,Extensively revised version. New version with ...,NaN,10.1103/PhysRevD.84.065014,NaN,nucl-th astro-ph.HE astro-ph.SR cond-mat.supr-...,http://arxiv.org/licenses/nonexclusive-distrib...,...,NaN,NaN,NaN,NaN,Astronomy and Astrophysics,"Jin-cheng Wang, Vivian de la Incera, Efrain J....",Magnetic tuning of the relativistic BCS-BEC cr...,Unknown,Unknown,"Jin-cheng Wang (None), Vivian de la Incera (fe..."
5577,706.0030,Yujie Wang,"Y.J. Wang, Kyoung-Su Im, K. Fezzaa",Similarity between the primary and secondary a...,"15 pages, 4 figures",NaN,10.1103/PhysRevLett.100.154502,NaN,physics.flu-dyn,NaN,...,NaN,NaN,NaN,NaN,Other,"Yujie Wang, Kyoung-Su Im, Kamel Fezzaa",Similarity between the Primary and Secondary A...,Unknown,Unknown,"Yujie Wang (female), Kyoung-Su Im (male), Kame..."

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 141021 to 23603
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         20 non-null     float64
 1   submitter                  20 non-null     object
 2   authors                    20 non-null     object
 3   title                      20 non-null     object
 4   comments                   18 non-null     object
 5   journal-ref                14 non-null     object
 6   doi                        20 non-null     object
 7   report-no                  1 non-null      object
 8   categories                 20 non-null     object
 9   license                    15 non-null     object
 10  versions                   20 non-null     object
 11  update_date                20 non-null     object
 12  authors_parsed             20 non-null     object
 13  publisher                  0 non-null      object
 14  published-print            0 non-null      object
 15  published-online           0 non-null      object
 16  reference-count            0 non-null      float64
 17  type                       0 non-null      object
 18  bibtex                     0 non-null      float64
 19  subject                    0 non-null      object
 20  publication_type           0 non-null      object
 21  field_of_study             20 non-null     object
 22  refined_authors            20 non-null     object
 23  refined_publication_title  20 non-null     object
 24  resolved_venue             20 non-null     object
 25  refined_venue              20 non-null     object
 26  authors_with_gender        20 non-null     object
dtypes: float64(3), object(24)
memory usage: 4.9+ KB

In [115]:
df1.to_csv('updated_data_new.csv')

## Better off starting here with 'updated_data_new.csv'

In [114]:
# remove comment below

df1 = pd.read_csv('updated_data_new.csv')
df1.drop('Unnamed: 0', axis=1, inplace=True)

In [40]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 488.3 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: sqlalchemy in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (1.4.46)
Requirement already satisfied: pandas in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (1.5.2)
Requirement already satisfied: greenlet!=0.4.17 in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp39-cp39-macosx_10_9_x86_64.whl size=133954 sha256=400a7f85b9c4bdec0b10e1797db0fa5793a28fc27502f58b29bff33baa87f6af
  Stored in directory: /Users/dayvheed/Library/Caches/pip/wheels/3a/06/25/adb124afd8c8346e45c455f6586f7289cde2b4e339dfbcd9e9
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
WARNING: There was an error checking the latest version of pip.

In [41]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (2.0.1)
WARNING: There was an error checking the latest version of pip.

In [165]:
create_tables_query = '''
-- Drop existing tables if they exist
DROP TABLE IF EXISTS publication_author_junction CASCADE;
DROP TABLE IF EXISTS fact_publications CASCADE;
DROP TABLE IF EXISTS dim_title CASCADE;
DROP TABLE IF EXISTS dim_submitter CASCADE;
DROP TABLE IF EXISTS dim_license CASCADE;
DROP TABLE IF EXISTS dim_journal_ref CASCADE;
DROP TABLE IF EXISTS dim_field_of_study CASCADE;
DROP TABLE IF EXISTS dim_authors CASCADE;

-- Create Dimension Tables
CREATE TABLE dim_submitter (
    submitter_id SERIAL PRIMARY KEY,
    submitter_name VARCHAR(255)
);

CREATE TABLE dim_authors (
    author_id SERIAL PRIMARY KEY,
    author_name VARCHAR(255),
    gender VARCHAR(50)
);

CREATE TABLE dim_title (
    title_id SERIAL PRIMARY KEY,
    title TEXT,
    refined_publication_title TEXT
);

CREATE TABLE dim_journal_ref (
    journal_ref_id SERIAL PRIMARY KEY,
    journal_ref VARCHAR(255),
    resolved_venue VARCHAR(255),
    refined_venue VARCHAR(255)
);

CREATE TABLE dim_license (
    license_id SERIAL PRIMARY KEY,
    license_type VARCHAR(255)
);

CREATE TABLE dim_field_of_study (
    field_of_study_id SERIAL PRIMARY KEY,
    field_name VARCHAR(255)
);

-- Create Fact Table
CREATE TABLE fact_publications (
    publication_id VARCHAR(255) PRIMARY KEY,
    submitter_id INT REFERENCES dim_submitter(submitter_id),
    title_id INT REFERENCES dim_title(title_id), -- Added title_id
    doi VARCHAR(255),
    report_no VARCHAR(255),
    comments TEXT,
    publication_type VARCHAR(255),
    journal_ref_id INT REFERENCES dim_journal_ref(journal_ref_id),
    license_id INT REFERENCES dim_license(license_id),
    field_of_study_id INT REFERENCES dim_field_of_study(field_of_study_id)
);

-- Create Junction Table for Many-to-Many Relationship between Publications and Authors
CREATE TABLE publication_author_junction (
    publication_id VARCHAR(255),
    author_id INT,
    PRIMARY KEY (publication_id, author_id),
    FOREIGN KEY (publication_id) REFERENCES fact_publications(publication_id),
    FOREIGN KEY (author_id) REFERENCES dim_authors(author_id)
);


'''

In [53]:
# import pandas as pd
# from sqlalchemy import create_engine
# from dotenv import load_dotenv
# import os

# # Load environment variables
# load_dotenv()

# # PostgreSQL connection parameters
# host = "localhost"  # or your host
# db = "data_warehouse"
# user = os.getenv("DB_USER")
# pwd = os.getenv("DB_PASSWORD")

# # Create a database connection
# engine = create_engine(f'postgresql://{user}:{pwd}@{host}:5434/{db}', echo=True)

# try:
#     # Execute your table creation script
#     with engine.begin() as connection:
#         connection.execute(create_tables_query)

#     # If no exceptions are thrown, it worked
#     print("Tables created successfully.")
# except Exception as e:
#     # If there's an error, it will be printed here
#     print("An error occurred:", e)

2023-12-09 19:32:40,599 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-12-09 19:32:40,600 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-09 19:32:40,601 INFO sqlalchemy.engine.Engine select current_schema()
2023-12-09 19:32:40,601 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-09 19:32:40,602 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-12-09 19:32:40,603 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-09 19:32:40,604 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-09 19:32:40,605 INFO sqlalchemy.engine.Engine
-- Drop existing tables if they exist
DROP TABLE IF EXISTS dim_authors CASCADE;
DROP TABLE IF EXISTS dim_field_of_study CASCADE;
DROP TABLE IF EXISTS dim_journal_ref CASCADE;
DROP TABLE IF EXISTS dim_license CASCADE;
DROP TABLE IF EXISTS dim_submitter CASCADE;
DROP TABLE IF EXISTS dim_title CASCADE;
DROP TABLE IF EXISTS fact_publications CASCADE;

-- Create new lowercase tables
CREATE TABLE dim_submitter (
    submitter_id SERIAL PRIMARY KEY,
    submitter_name VARCHAR(255)
);

CREATE TABLE dim_authors (
    author_id SERIAL PRIMARY KEY,
    author_name VARCHAR(255),
    gender VARCHAR(50)
);

CREATE TABLE dim_title (
    title_id SERIAL PRIMARY KEY,
    title text,
    refined_publication_title text
);

CREATE TABLE dim_journal_ref (
    journal_ref_id SERIAL PRIMARY KEY,
    journal_ref VARCHAR(255),
    resolved_venue VARCHAR(255),
    refined_venue VARCHAR(255)
);

CREATE TABLE dim_license (
    license_id SERIAL PRIMARY KEY,
    license_type VARCHAR(255)
);

CREATE TABLE dim_field_of_study (
    field_of_study_id SERIAL PRIMARY KEY,
    field_name VARCHAR(255)
);

-- Create the lowercase fact table
CREATE TABLE fact_publications (
    publication_id SERIAL PRIMARY KEY,
    submitter_id INT REFERENCES dim_submitter(submitter_id),
    author_id INT REFERENCES dim_authors(author_id),
    title_id INT REFERENCES dim_title(title_id),
    journal_ref_id INT REFERENCES dim_journal_ref(journal_ref_id),
    doi VARCHAR(255),
    report_no VARCHAR(255),
    license_id INT REFERENCES dim_license(license_id),
    field_of_study_id INT REFERENCES dim_field_of_study(field_of_study_id),
    comments TEXT,
    publication_type VARCHAR(255)
);

2023-12-09 19:32:40,606 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-09 19:32:40,637 INFO sqlalchemy.engine.Engine COMMIT
Tables created successfully.

In [164]:
# import pandas as pd
# from sqlalchemy import create_engine
# from dotenv import load_dotenv
# import os

# # Load environment variables
# load_dotenv()

# # PostgreSQL connection parameters
# host = "localhost"  # or your host
# db = "data_warehouse"
# user = os.getenv("DB_USER")
# pwd = os.getenv("DB_PASSWORD")

# # Create a database connection
# engine = create_engine(f'postgresql://{user}:{pwd}@{host}:5434/{db}', echo=True)

# # Function to get or create a primary key for a given value from a dimension table
# def get_or_create_primary_key(value, table_name, column_name, primary_key_column, engine):
#     if pd.isna(value):
#         return None

#     # Check if the value already exists and return its primary key
#     query = f"SELECT {primary_key_column} FROM {table_name} WHERE {column_name} = %s"
#     result = pd.read_sql_query(query, engine, params=[value])
#     if not result.empty:
#         return result.iloc[0][primary_key_column]

#     # If not, insert the new value and return its primary key
#     insert_query = f"INSERT INTO {table_name} ({column_name}) VALUES (%s) RETURNING {primary_key_column}"
#     result = engine.execute(insert_query, [value])
#     return result.fetchone()[0]

# # Helper function to extract and insert a list of authors with gender
# def extract_and_insert_authors(authors_with_gender_str, engine):
#     authors = authors_with_gender_str.split(', ')
#     author_ids = []
#     for author_with_gender in authors:
#         author_name, author_gender = author_with_gender.rsplit(' ', 1)
#         author_name = author_name.strip()
#         author_gender = author_gender.strip("()")
#         author_id = get_or_create_primary_key(author_name, 'dim_authors', 'author_name', 'author_id', engine)
#         author_ids.append(author_id)
#     return author_ids

# # Populate dimension tables and fact table
# for index, row in df1.iterrows():
#     submitter_id = get_or_create_primary_key(row['submitter'], 'dim_submitter', 'submitter_name', 'submitter_id', engine)
#     journal_ref_id = get_or_create_primary_key(row['journal-ref'], 'dim_journal_ref', 'journal_ref', 'journal_ref_id', engine)
#     license_id = get_or_create_primary_key(row['license'], 'dim_license', 'license_type', 'license_id', engine)
#     field_of_study_id = get_or_create_primary_key(row['field_of_study'], 'dim_field_of_study', 'field_name', 'field_of_study_id', engine)
    
#     # Populate fact_publications table
#     fact_row = {
#         'publication_id': row['doi'],
#         'submitter_id': submitter_id,
#         'doi': row['doi'],
#         'report_no': row.get('report-no', None),
#         'comments': row['comments'],
#         'publication_type': row['publication_type'],
#         'journal_ref_id': journal_ref_id,
#         'license_id': license_id,
#         'field_of_study_id': field_of_study_id
#     }
#     df_fact = pd.DataFrame([fact_row])
#     df_fact.to_sql('fact_publications', engine, if_exists='append', index=False)
    
#     # Insert authors and create junction table entries
#     author_ids = extract_and_insert_authors(row['authors_with_gender'], engine)
#     for author_id in author_ids:
#         junction_row = {
#             'publication_id': row['doi'], 
#             'author_id': author_id
#         }
#         df_junction = pd.DataFrame([junction_row])
#         df_junction.to_sql('publication_author_junction', engine, if_exists='append', index=False)

# # Close the database connection
# engine.dispose()

import pandas as pd
from sqlalchemy import create_engine
import os

# Load environment variables (if you're using .env file)
from dotenv import load_dotenv
load_dotenv()

# PostgreSQL connection parameters
host = "localhost"  # or your host
db = "data_warehouse"
user = os.getenv("DB_USER")
pwd = os.getenv("DB_PASSWORD")

# Create a database connection
engine = create_engine(f'postgresql://{user}:{pwd}@{host}:5434/{db}', echo=True)

def get_or_create_primary_key(value, table_name, column_name, primary_key_column, engine):
    if pd.isna(value):
        return None

    # Check if the value already exists and return its primary key
    select_query = f"SELECT {primary_key_column} FROM {table_name} WHERE {column_name} = %s"
    result = engine.execute(select_query, [value]).fetchone()
    if result:
        return result[0]

    # If not, insert the new value and return its primary key
    insert_query = f"INSERT INTO {table_name} ({column_name}) VALUES (%s) RETURNING {primary_key_column}"
    result = engine.execute(insert_query, [value]).fetchone()
    return result[0]

def populate_tables(df, engine):
    for index, row in df.iterrows():
        submitter_id = get_or_create_primary_key(row['submitter'], 'dim_submitter', 'submitter_name', 'submitter_id', engine)
        title_id = get_or_create_primary_key(row['title'], 'dim_title', 'title', 'title_id', engine)
        journal_ref_id = get_or_create_primary_key(row['journal-ref'], 'dim_journal_ref', 'journal_ref', 'journal_ref_id', engine)
        license_id = get_or_create_primary_key(row['license'], 'dim_license', 'license_type', 'license_id', engine)
        field_of_study_id = get_or_create_primary_key(row['field_of_study'], 'dim_field_of_study', 'field_name', 'field_of_study_id', engine)

        # Insert into fact_publications
        fact_row = {
            'publication_id': row['doi'],
            'submitter_id': submitter_id,
            'title_id': title_id,
            'doi': row['doi'],
            'report_no': row.get('report-no', None),
            'comments': row['comments'],
            'publication_type': row.get('publication_type', None),
            'journal_ref_id': journal_ref_id,
            'license_id': license_id,
            'field_of_study_id': field_of_study_id
        }
        df_fact = pd.DataFrame([fact_row])
        df_fact.to_sql('fact_publications', engine, if_exists='append', index=False)

        # Handle authors and populate publication_author_junction
        authors_with_gender = row.get('authors_with_gender', '').split(',')
        for author_with_gender in authors_with_gender:
            parts = author_with_gender.strip().rsplit(' ', 1)
            if len(parts) == 2:
                author_name, gender = parts
                gender = gender.strip("()")
            else:
                author_name = parts[0]
                gender = None
            author_id = get_or_create_primary_key(author_name, 'dim_authors', 'author_name', 'author_id', engine)
            # Update gender if available
            if gender:
                update_query = "UPDATE dim_authors SET gender = %s WHERE author_id = %s"
                engine.execute(update_query, (gender, author_id))
            junction_row = {'publication_id': row['doi'], 'author_id': author_id}
            df_junction = pd.DataFrame([junction_row])
            df_junction.to_sql('publication_author_junction', engine, if_exists='append', index=False)

# Assuming df1 is your DataFrame
populate_tables(df1, engine)

# Close the database connection
engine.dispose()

2023-12-10 03:03:32,886 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-12-10 03:03:32,890 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-10 03:03:32,898 INFO sqlalchemy.engine.Engine select current_schema()
2023-12-10 03:03:32,898 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-10 03:03:32,904 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-12-10 03:03:32,904 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-10 03:03:32,906 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:32,906 INFO sqlalchemy.engine.Engine [raw sql] ('Chiara Arina',)
2023-12-10 03:03:32,914 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:32,915 INFO sqlalchemy.engine.Engine [raw sql] ('Chiara Arina',)
2023-12-10 03:03:32,923 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:32,927 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:32,927 INFO sqlalchemy.engine.Engine [raw sql] ('Constraining Sommerfeld Enhanced Annihilation Cross-sections of Dark\n  Matter via Direct Searches',)
2023-12-10 03:03:32,932 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:32,932 INFO sqlalchemy.engine.Engine [raw sql] ('Constraining Sommerfeld Enhanced Annihilation Cross-sections of Dark\n  Matter via Direct Searches',)
2023-12-10 03:03:32,936 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:32,937 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:32,938 INFO sqlalchemy.engine.Engine [raw sql] ('Phys.Lett.B691:219-224,2010',)
2023-12-10 03:03:32,954 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:32,955 INFO sqlalchemy.engine.Engine [raw sql] ('Phys.Lett.B691:219-224,2010',)
2023-12-10 03:03:32,959 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:32,960 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:32,960 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:32,962 INFO sqlalchemy.engine.Engine INSERT INTO dim_license (license_type) VALUES (%s) RETURNING license_id
2023-12-10 03:03:32,962 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:32,965 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:32,965 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:32,966 INFO sqlalchemy.engine.Engine [raw sql] ('Astronomy and Astrophysics',)
2023-12-10 03:03:32,969 INFO sqlalchemy.engine.Engine INSERT INTO dim_field_of_study (field_name) VALUES (%s) RETURNING field_of_study_id
2023-12-10 03:03:32,969 INFO sqlalchemy.engine.Engine [raw sql] ('Astronomy and Astrophysics',)
2023-12-10 03:03:32,973 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:32,998 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:32,999 INFO sqlalchemy.engine.Engine [generated in 0.00090s] {'name': 'fact_publications'}
2023-12-10 03:03:33,008 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,011 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,011 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {'publication_id': '10.1016/j.physletb.2010.06.037', 'submitter_id': 1, 'title_id': 1, 'doi': '10.1016/j.physletb.2010.06.037', 'report_no': None, 'comments': '6 pages, 5 figures. v2: discussion on BBN constraints added and BBN\n  bounds implementend in figure 3, updated references. Version to appear on\n  Phys.Lett.B', 'publication_type': None, 'journal_ref_id': 1, 'license_id': 1, 'field_of_study_id': 1}
2023-12-10 03:03:33,020 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,021 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,022 INFO sqlalchemy.engine.Engine [raw sql] ('Chiara Arina',)
2023-12-10 03:03:33,024 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,024 INFO sqlalchemy.engine.Engine [raw sql] ('Chiara Arina',)
2023-12-10 03:03:33,027 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,028 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,028 INFO sqlalchemy.engine.Engine [raw sql] ('female', 1)
2023-12-10 03:03:33,031 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,033 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,033 INFO sqlalchemy.engine.Engine [cached since 0.03504s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,034 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,035 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,036 INFO sqlalchemy.engine.Engine [generated in 0.00078s] {'publication_id': '10.1016/j.physletb.2010.06.037', 'author_id': 1}
2023-12-10 03:03:33,040 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,041 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,041 INFO sqlalchemy.engine.Engine [raw sql] ('François-Xavier Josse-Michaux',)
2023-12-10 03:03:33,042 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,043 INFO sqlalchemy.engine.Engine [raw sql] ('François-Xavier Josse-Michaux',)
2023-12-10 03:03:33,043 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,044 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,044 INFO sqlalchemy.engine.Engine [raw sql] ('male', 2)
2023-12-10 03:03:33,045 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,047 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,048 INFO sqlalchemy.engine.Engine [cached since 0.04953s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,049 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,049 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,050 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {'publication_id': '10.1016/j.physletb.2010.06.037', 'author_id': 2}
2023-12-10 03:03:33,051 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,052 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,052 INFO sqlalchemy.engine.Engine [raw sql] ('Narendra Sahu',)
2023-12-10 03:03:33,061 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,062 INFO sqlalchemy.engine.Engine [raw sql] ('Narendra Sahu',)
2023-12-10 03:03:33,063 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,063 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,063 INFO sqlalchemy.engine.Engine [raw sql] ('male', 3)
2023-12-10 03:03:33,064 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,065 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

2023-12-10 03:03:33,066 INFO sqlalchemy.engine.Engine [cached since 0.06782s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,067 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,068 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,068 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {'publication_id': '10.1016/j.physletb.2010.06.037', 'author_id': 3}
2023-12-10 03:03:33,069 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,071 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,071 INFO sqlalchemy.engine.Engine [raw sql] ('Kiyoshi Tamaki',)
2023-12-10 03:03:33,073 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,073 INFO sqlalchemy.engine.Engine [raw sql] ('Kiyoshi Tamaki',)
2023-12-10 03:03:33,074 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,074 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,075 INFO sqlalchemy.engine.Engine [raw sql] ('Quantum circuit for security proof of quantum key distribution without\n  encryption of error syndrome and noisy processing',)
2023-12-10 03:03:33,076 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,076 INFO sqlalchemy.engine.Engine [raw sql] ('Quantum circuit for security proof of quantum key distribution without\n  encryption of error syndrome and noisy processing',)
2023-12-10 03:03:33,077 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,078 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,078 INFO sqlalchemy.engine.Engine [raw sql] ('Phys. Rev. A 81, 022316 (2010)',)
2023-12-10 03:03:33,079 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,080 INFO sqlalchemy.engine.Engine [raw sql] ('Phys. Rev. A 81, 022316 (2010)',)
2023-12-10 03:03:33,081 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,082 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,082 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,083 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,083 INFO sqlalchemy.engine.Engine [raw sql] ('Quantum Physics',)
2023-12-10 03:03:33,084 INFO sqlalchemy.engine.Engine INSERT INTO dim_field_of_study (field_name) VALUES (%s) RETURNING field_of_study_id
2023-12-10 03:03:33,084 INFO sqlalchemy.engine.Engine [raw sql] ('Quantum Physics',)
2023-12-10 03:03:33,085 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,088 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,089 INFO sqlalchemy.engine.Engine [cached since 0.0911s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,091 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,095 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,096 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {'publication_id': '10.1103/PhysRevA.81.022316', 'submitter_id': 2, 'title_id': 2, 'doi': '10.1103/PhysRevA.81.022316', 'report_no': None, 'comments': '8 pages, 2 figures. Typo corrected', 'publication_type': None, 'journal_ref_id': 2, 'license_id': 1, 'field_of_study_id': 2}
2023-12-10 03:03:33,109 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,110 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,110 INFO sqlalchemy.engine.Engine [raw sql] ('Kiyoshi Tamaki',)
2023-12-10 03:03:33,111 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,111 INFO sqlalchemy.engine.Engine [raw sql] ('Kiyoshi Tamaki',)
2023-12-10 03:03:33,112 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,112 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,112 INFO sqlalchemy.engine.Engine [raw sql] ('male', 4)
2023-12-10 03:03:33,113 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,115 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,115 INFO sqlalchemy.engine.Engine [cached since 0.1169s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,116 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,117 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,118 INFO sqlalchemy.engine.Engine [generated in 0.00119s] {'publication_id': '10.1103/PhysRevA.81.022316', 'author_id': 4}
2023-12-10 03:03:33,120 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,121 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,121 INFO sqlalchemy.engine.Engine [raw sql] ('Go Kato',)
2023-12-10 03:03:33,122 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,122 INFO sqlalchemy.engine.Engine [raw sql] ('Go Kato',)
2023-12-10 03:03:33,123 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,124 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,124 INFO sqlalchemy.engine.Engine [raw sql] ('male', 5)
2023-12-10 03:03:33,125 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,126 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,127 INFO sqlalchemy.engine.Engine [cached since 0.1286s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,128 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,128 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,129 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {'publication_id': '10.1103/PhysRevA.81.022316', 'author_id': 5}
2023-12-10 03:03:33,129 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,130 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,130 INFO sqlalchemy.engine.Engine [raw sql] ('Vasudha Shivamoggi',)
2023-12-10 03:03:33,132 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,133 INFO sqlalchemy.engine.Engine [raw sql] ('Vasudha Shivamoggi',)
2023-12-10 03:03:33,133 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,137 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,138 INFO sqlalchemy.engine.Engine [raw sql] ('Majorana fermion chain at the Quantum Spin Hall edge',)
2023-12-10 03:03:33,139 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,139 INFO sqlalchemy.engine.Engine [raw sql] ('Majorana fermion chain at the Quantum Spin Hall edge',)
2023-12-10 03:03:33,140 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,141 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,141 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)

2023-12-10 03:03:33,165 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,166 INFO sqlalchemy.engine.Engine [raw sql] ('Condensed Matter Physics',)
2023-12-10 03:03:33,168 INFO sqlalchemy.engine.Engine INSERT INTO dim_field_of_study (field_name) VALUES (%s) RETURNING field_of_study_id
2023-12-10 03:03:33,169 INFO sqlalchemy.engine.Engine [raw sql] ('Condensed Matter Physics',)
2023-12-10 03:03:33,180 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,184 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,185 INFO sqlalchemy.engine.Engine [cached since 0.1866s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,187 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,189 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,189 INFO sqlalchemy.engine.Engine [generated in 0.00073s] {'publication_id': '10.1103/PhysRevB.82.041405', 'submitter_id': 3, 'title_id': 3, 'doi': '10.1103/PhysRevB.82.041405', 'report_no': None, 'comments': '5 pages, 3 figures', 'publication_type': None, 'journal_ref_id': None, 'license_id': 1, 'field_of_study_id': 3}
2023-12-10 03:03:33,190 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,191 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,191 INFO sqlalchemy.engine.Engine [raw sql] ('V. Shivamoggi',)
2023-12-10 03:03:33,192 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,192 INFO sqlalchemy.engine.Engine [raw sql] ('V. Shivamoggi',)
2023-12-10 03:03:33,193 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,193 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,193 INFO sqlalchemy.engine.Engine [raw sql] ('female', 6)
2023-12-10 03:03:33,194 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,196 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,197 INFO sqlalchemy.engine.Engine [cached since 0.1989s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,198 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,200 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,200 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {'publication_id': '10.1103/PhysRevB.82.041405', 'author_id': 6}
2023-12-10 03:03:33,201 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,202 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,202 INFO sqlalchemy.engine.Engine [raw sql] ('G. Refael',)
2023-12-10 03:03:33,203 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,204 INFO sqlalchemy.engine.Engine [raw sql] ('G. Refael',)
2023-12-10 03:03:33,204 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,205 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,205 INFO sqlalchemy.engine.Engine [raw sql] ('male', 7)
2023-12-10 03:03:33,210 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,212 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,213 INFO sqlalchemy.engine.Engine [cached since 0.2153s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,223 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,223 INFO sqlalchemy.engine.Engine [generated in 0.00074s] {'publication_id': '10.1103/PhysRevB.82.041405', 'author_id': 7}
2023-12-10 03:03:33,224 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,225 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,225 INFO sqlalchemy.engine.Engine [raw sql] ('J. E. Moore',)
2023-12-10 03:03:33,226 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,226 INFO sqlalchemy.engine.Engine [raw sql] ('J. E. Moore',)
2023-12-10 03:03:33,227 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,227 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,227 INFO sqlalchemy.engine.Engine [raw sql] ('female', 8)
2023-12-10 03:03:33,228 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,229 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,230 INFO sqlalchemy.engine.Engine [cached since 0.2319s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,232 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,232 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {'publication_id': '10.1103/PhysRevB.82.041405', 'author_id': 8}
2023-12-10 03:03:33,232 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,233 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,234 INFO sqlalchemy.engine.Engine [raw sql] ('Frank Nerling',)
2023-12-10 03:03:33,235 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,235 INFO sqlalchemy.engine.Engine [raw sql] ('Frank Nerling',)
2023-12-10 03:03:33,236 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,237 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,237 INFO sqlalchemy.engine.Engine [raw sql] ('Meson spectroscopy with COMPASS',)
2023-12-10 03:03:33,238 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,238 INFO sqlalchemy.engine.Engine [raw sql] ('Meson spectroscopy with COMPASS',)
2023-12-10 03:03:33,239 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,240 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,240 INFO sqlalchemy.engine.Engine [raw sql] ('J.Phys.Conf.Ser.312:032017,2011',)
2023-12-10 03:03:33,241 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,241 INFO sqlalchemy.engine.Engine [raw sql] ('J.Phys.Conf.Ser.312:032017,2011',)
2023-12-10 03:03:33,242 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,243 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,243 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,244 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,244 INFO sqlalchemy.engine.Engine [raw sql] ('High Energy Physics',)
2023-12-10 03:03:33,245 INFO sqlalchemy.engine.Engine INSERT INTO dim_field_of_study (field_name) VALUES (%s) RETURNING field_of_study_id
2023-12-10 03:03:33,245 INFO sqlalchemy.engine.Engine [raw sql] ('High Energy Physics',)

2023-12-10 03:03:33,245 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,248 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,248 INFO sqlalchemy.engine.Engine [cached since 0.25s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,249 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,250 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,250 INFO sqlalchemy.engine.Engine [generated in 0.00040s] {'publication_id': '10.1088/1742-6596/312/3/032017', 'submitter_id': 4, 'title_id': 4, 'doi': '10.1088/1742-6596/312/3/032017', 'report_no': None, 'comments': '6 pages, 6 figures, to appear in the proceedings of the International\n  Nuclear Physics Conference 2010, Vancouver, Canada, 04-09 Jul 2010', 'publication_type': None, 'journal_ref_id': 3, 'license_id': 1, 'field_of_study_id': 4}
2023-12-10 03:03:33,251 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,252 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,252 INFO sqlalchemy.engine.Engine [raw sql] ('Frank Nerling',)
2023-12-10 03:03:33,253 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,253 INFO sqlalchemy.engine.Engine [raw sql] ('Frank Nerling',)
2023-12-10 03:03:33,254 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,254 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,255 INFO sqlalchemy.engine.Engine [raw sql] ('male', 9)
2023-12-10 03:03:33,255 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,257 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,257 INFO sqlalchemy.engine.Engine [cached since 0.2593s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,259 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,259 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,260 INFO sqlalchemy.engine.Engine [generated in 0.00028s] {'publication_id': '10.1088/1742-6596/312/3/032017', 'author_id': 9}
2023-12-10 03:03:33,260 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,261 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,261 INFO sqlalchemy.engine.Engine [raw sql] ('(unknown)',)
2023-12-10 03:03:33,262 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,262 INFO sqlalchemy.engine.Engine [raw sql] ('(unknown)',)
2023-12-10 03:03:33,262 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,264 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,264 INFO sqlalchemy.engine.Engine [cached since 0.2663s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,265 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,266 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,266 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {'publication_id': '10.1088/1742-6596/312/3/032017', 'author_id': 10}
2023-12-10 03:03:33,267 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,267 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,268 INFO sqlalchemy.engine.Engine [raw sql] ('Benjamin Brown',)
2023-12-10 03:03:33,269 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,269 INFO sqlalchemy.engine.Engine [raw sql] ('Benjamin Brown',)
2023-12-10 03:03:33,270 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,270 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,271 INFO sqlalchemy.engine.Engine [raw sql] ('Dynamos in Stellar Convection Zones: of Wreaths and Cycles',)
2023-12-10 03:03:33,272 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,272 INFO sqlalchemy.engine.Engine [raw sql] ('Dynamos in Stellar Convection Zones: of Wreaths and Cycles',)
2023-12-10 03:03:33,273 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,273 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,274 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,275 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,275 INFO sqlalchemy.engine.Engine [raw sql] ('Astronomy and Astrophysics',)
2023-12-10 03:03:33,278 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,278 INFO sqlalchemy.engine.Engine [cached since 0.2804s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,279 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,280 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,281 INFO sqlalchemy.engine.Engine [generated in 0.00031s] {'publication_id': '10.1088/1742-6596/271/1/012064', 'submitter_id': 5, 'title_id': 5, 'doi': '10.1088/1742-6596/271/1/012064', 'report_no': None, 'comments': '10 pages, 5 figures, a4 format; proceedings for SOHO 24/GONG 2010\n  conference: "A new era of seismology of the Sun and solar-like stars,"\n  Aix-en-Provence, France, June 27-July 4, 2010 (JPCS)', 'publication_type': None, 'journal_ref_id': None, 'license_id': 1, 'field_of_study_id': 1}
2023-12-10 03:03:33,281 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,282 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,282 INFO sqlalchemy.engine.Engine [raw sql] ('Benjamin Brown',)
2023-12-10 03:03:33,283 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,283 INFO sqlalchemy.engine.Engine [raw sql] ('Benjamin Brown',)
2023-12-10 03:03:33,284 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,284 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,285 INFO sqlalchemy.engine.Engine [raw sql] ('male', 11)
2023-12-10 03:03:33,285 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,287 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,287 INFO sqlalchemy.engine.Engine [cached since 0.2891s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,289 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,290 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,290 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {'publication_id': '10.1088/1742-6596/271/1/012064', 'author_id': 11}

2023-12-10 03:03:33,291 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,292 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,292 INFO sqlalchemy.engine.Engine [raw sql] ('Emanuele Delucchi',)
2023-12-10 03:03:33,293 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,293 INFO sqlalchemy.engine.Engine [raw sql] ('Emanuele Delucchi',)
2023-12-10 03:03:33,293 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,294 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,294 INFO sqlalchemy.engine.Engine [raw sql] ('Foundations for a theory of complex matroids',)
2023-12-10 03:03:33,295 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,295 INFO sqlalchemy.engine.Engine [raw sql] ('Foundations for a theory of complex matroids',)
2023-12-10 03:03:33,295 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,296 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,296 INFO sqlalchemy.engine.Engine [raw sql] ('Discrete & Computational Geometry (2012) 48 : 807-846',)
2023-12-10 03:03:33,297 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,297 INFO sqlalchemy.engine.Engine [raw sql] ('Discrete & Computational Geometry (2012) 48 : 807-846',)
2023-12-10 03:03:33,297 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,298 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,298 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,299 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,299 INFO sqlalchemy.engine.Engine [raw sql] ('Mathematics',)
2023-12-10 03:03:33,300 INFO sqlalchemy.engine.Engine INSERT INTO dim_field_of_study (field_name) VALUES (%s) RETURNING field_of_study_id
2023-12-10 03:03:33,300 INFO sqlalchemy.engine.Engine [raw sql] ('Mathematics',)
2023-12-10 03:03:33,301 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,304 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,305 INFO sqlalchemy.engine.Engine [cached since 0.3069s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,309 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,310 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,310 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {'publication_id': '10.1007/s00454-012-9458-9', 'submitter_id': 6, 'title_id': 6, 'doi': '10.1007/s00454-012-9458-9', 'report_no': None, 'comments': "34 pages, exposition improved following a reviewer's suggestions, 2\n  figures added", 'publication_type': None, 'journal_ref_id': 4, 'license_id': 1, 'field_of_study_id': 5}
2023-12-10 03:03:33,312 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,312 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,313 INFO sqlalchemy.engine.Engine [raw sql] ('Laura Anderson',)
2023-12-10 03:03:33,314 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,314 INFO sqlalchemy.engine.Engine [raw sql] ('Laura Anderson',)
2023-12-10 03:03:33,314 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,315 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,315 INFO sqlalchemy.engine.Engine [raw sql] ('female', 12)
2023-12-10 03:03:33,316 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,317 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,318 INFO sqlalchemy.engine.Engine [cached since 0.3195s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,319 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,319 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,320 INFO sqlalchemy.engine.Engine [generated in 0.00031s] {'publication_id': '10.1007/s00454-012-9458-9', 'author_id': 12}
2023-12-10 03:03:33,321 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,322 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,322 INFO sqlalchemy.engine.Engine [raw sql] ('Emanuele Delucchi',)
2023-12-10 03:03:33,324 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,324 INFO sqlalchemy.engine.Engine [raw sql] ('Emanuele Delucchi',)
2023-12-10 03:03:33,325 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,326 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,326 INFO sqlalchemy.engine.Engine [raw sql] ('male', 13)
2023-12-10 03:03:33,327 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,328 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,329 INFO sqlalchemy.engine.Engine [cached since 0.3308s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,330 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,330 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,331 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {'publication_id': '10.1007/s00454-012-9458-9', 'author_id': 13}
2023-12-10 03:03:33,331 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,332 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,332 INFO sqlalchemy.engine.Engine [raw sql] ('Lachezar Georgiev',)
2023-12-10 03:03:33,333 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,333 INFO sqlalchemy.engine.Engine [raw sql] ('Lachezar Georgiev',)
2023-12-10 03:03:33,334 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,334 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,334 INFO sqlalchemy.engine.Engine [raw sql] ('Monodromy analysis of the computational power of the Ising topological\n  quantum computer',)
2023-12-10 03:03:33,335 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,335 INFO sqlalchemy.engine.Engine [raw sql] ('Monodromy analysis of the computational power of the Ising topological\n  quantum computer',)
2023-12-10 03:03:33,336 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,337 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,337 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,338 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,339 INFO sqlalchemy.engine.Engine [raw sql] ('Mathematics',)
2023-12-10 03:03:33,342 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

2023-12-10 03:03:33,343 INFO sqlalchemy.engine.Engine [cached since 0.3446s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,344 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,345 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,345 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {'publication_id': '10.1063/1.3460174', 'submitter_id': 7, 'title_id': 7, 'doi': '10.1063/1.3460174', 'report_no': None, 'comments': '10 pages, 2 figures and 1 table; v2: one more reference added and\n  some typos corrected; Talk given at the VIII International Workshop "Lie\n  Theory and its Applications in Physics", 15-21 June 2009, Varna, Bulgaria', 'publication_type': None, 'journal_ref_id': None, 'license_id': 1, 'field_of_study_id': 5}
2023-12-10 03:03:33,346 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,346 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,347 INFO sqlalchemy.engine.Engine [raw sql] ('Andre Ahlbrecht',)
2023-12-10 03:03:33,347 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,347 INFO sqlalchemy.engine.Engine [raw sql] ('Andre Ahlbrecht',)
2023-12-10 03:03:33,348 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,348 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,349 INFO sqlalchemy.engine.Engine [raw sql] ('male', 14)
2023-12-10 03:03:33,349 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,351 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,351 INFO sqlalchemy.engine.Engine [cached since 0.3532s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,352 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,353 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,354 INFO sqlalchemy.engine.Engine [generated in 0.00038s] {'publication_id': '10.1063/1.3460174', 'author_id': 14}
2023-12-10 03:03:33,355 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,355 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,356 INFO sqlalchemy.engine.Engine [raw sql] ('Lachezar S. Georgiev',)
2023-12-10 03:03:33,357 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,357 INFO sqlalchemy.engine.Engine [raw sql] ('Lachezar S. Georgiev',)
2023-12-10 03:03:33,358 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,359 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,360 INFO sqlalchemy.engine.Engine [raw sql] ('male', 15)
2023-12-10 03:03:33,360 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,362 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,362 INFO sqlalchemy.engine.Engine [cached since 0.3644s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,364 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,364 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,365 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {'publication_id': '10.1063/1.3460174', 'author_id': 15}
2023-12-10 03:03:33,365 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,366 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,366 INFO sqlalchemy.engine.Engine [raw sql] ('Reinhard F. Werner',)
2023-12-10 03:03:33,367 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,367 INFO sqlalchemy.engine.Engine [raw sql] ('Reinhard F. Werner',)
2023-12-10 03:03:33,368 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,368 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,369 INFO sqlalchemy.engine.Engine [raw sql] ('male', 16)
2023-12-10 03:03:33,369 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,371 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,371 INFO sqlalchemy.engine.Engine [cached since 0.3734s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,373 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,374 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,375 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {'publication_id': '10.1063/1.3460174', 'author_id': 16}
2023-12-10 03:03:33,375 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,376 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,376 INFO sqlalchemy.engine.Engine [raw sql] ('Vladimir Dobrev',)
2023-12-10 03:03:33,376 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,377 INFO sqlalchemy.engine.Engine [raw sql] ('Vladimir Dobrev',)
2023-12-10 03:03:33,377 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,378 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,378 INFO sqlalchemy.engine.Engine [raw sql] ('male', 17)
2023-12-10 03:03:33,378 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,380 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,380 INFO sqlalchemy.engine.Engine [cached since 0.3821s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,381 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,381 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,382 INFO sqlalchemy.engine.Engine [generated in 0.00031s] {'publication_id': '10.1063/1.3460174', 'author_id': 17}
2023-12-10 03:03:33,382 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,383 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,383 INFO sqlalchemy.engine.Engine [raw sql] ('Deborah B. Haarsma',)
2023-12-10 03:03:33,384 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,384 INFO sqlalchemy.engine.Engine [raw sql] ('Deborah B. Haarsma',)
2023-12-10 03:03:33,384 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,385 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,385 INFO sqlalchemy.engine.Engine [raw sql] ('Brightest Cluster Galaxies and Core Gas Density in REXCESS Clusters',)
2023-12-10 03:03:33,386 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,387 INFO sqlalchemy.engine.Engine [raw sql] ('Brightest Cluster Galaxies and Core Gas Density in REXCESS Clusters',)
2023-12-10 03:03:33,387 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,388 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,388 INFO sqlalchemy.engine.Engine [raw sql] ('Astrophys.J.713:1037-1047,2010',)

2023-12-10 03:03:33,390 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,391 INFO sqlalchemy.engine.Engine [raw sql] ('Astrophys.J.713:1037-1047,2010',)
2023-12-10 03:03:33,391 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,392 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,392 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,393 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,393 INFO sqlalchemy.engine.Engine [raw sql] ('Astronomy and Astrophysics',)
2023-12-10 03:03:33,396 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,396 INFO sqlalchemy.engine.Engine [cached since 0.3982s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,397 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,398 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,398 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'submitter_id': 8, 'title_id': 8, 'doi': '10.1088/0004-637X/713/2/1037', 'report_no': None, 'comments': '16 pages, 8 figures, accepted Astrophysical Journal', 'publication_type': None, 'journal_ref_id': 5, 'license_id': 1, 'field_of_study_id': 1}
2023-12-10 03:03:33,399 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,400 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,400 INFO sqlalchemy.engine.Engine [raw sql] ('Deborah B. Haarsma',)
2023-12-10 03:03:33,401 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,401 INFO sqlalchemy.engine.Engine [raw sql] ('Deborah B. Haarsma',)
2023-12-10 03:03:33,402 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,403 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,403 INFO sqlalchemy.engine.Engine [raw sql] ('female', 18)
2023-12-10 03:03:33,404 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,406 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,407 INFO sqlalchemy.engine.Engine [cached since 0.4089s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,409 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,409 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 18}
2023-12-10 03:03:33,410 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,411 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,411 INFO sqlalchemy.engine.Engine [raw sql] ('Luke Leisman',)
2023-12-10 03:03:33,412 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,412 INFO sqlalchemy.engine.Engine [raw sql] ('Luke Leisman',)
2023-12-10 03:03:33,413 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,413 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,413 INFO sqlalchemy.engine.Engine [raw sql] ('male', 19)
2023-12-10 03:03:33,414 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,415 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,415 INFO sqlalchemy.engine.Engine [cached since 0.4173s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,416 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,417 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,417 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 19}
2023-12-10 03:03:33,418 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,418 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,419 INFO sqlalchemy.engine.Engine [raw sql] ('Megan Donahue',)
2023-12-10 03:03:33,419 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,420 INFO sqlalchemy.engine.Engine [raw sql] ('Megan Donahue',)
2023-12-10 03:03:33,421 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,421 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,421 INFO sqlalchemy.engine.Engine [raw sql] ('female', 20)
2023-12-10 03:03:33,423 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,425 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,425 INFO sqlalchemy.engine.Engine [cached since 0.4269s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,426 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,427 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,427 INFO sqlalchemy.engine.Engine [generated in 0.00030s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 20}
2023-12-10 03:03:33,428 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,428 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,429 INFO sqlalchemy.engine.Engine [raw sql] ('Seth Bruch',)
2023-12-10 03:03:33,429 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,430 INFO sqlalchemy.engine.Engine [raw sql] ('Seth Bruch',)
2023-12-10 03:03:33,430 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,431 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,431 INFO sqlalchemy.engine.Engine [raw sql] ('male', 21)
2023-12-10 03:03:33,432 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,433 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,434 INFO sqlalchemy.engine.Engine [cached since 0.4355s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,435 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,435 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,435 INFO sqlalchemy.engine.Engine [generated in 0.00028s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 21}
2023-12-10 03:03:33,436 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,437 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,437 INFO sqlalchemy.engine.Engine [raw sql] ('Hans Böhringer',)
2023-12-10 03:03:33,439 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,439 INFO sqlalchemy.engine.Engine [raw sql] ('Hans Böhringer',)

2023-12-10 03:03:33,440 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,441 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,442 INFO sqlalchemy.engine.Engine [raw sql] ('male', 22)
2023-12-10 03:03:33,443 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,444 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,445 INFO sqlalchemy.engine.Engine [cached since 0.4468s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,446 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,447 INFO sqlalchemy.engine.Engine [generated in 0.00030s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 22}
2023-12-10 03:03:33,447 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,448 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,448 INFO sqlalchemy.engine.Engine [raw sql] ('Judith H. Croston',)
2023-12-10 03:03:33,449 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,449 INFO sqlalchemy.engine.Engine [raw sql] ('Judith H. Croston',)
2023-12-10 03:03:33,449 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,450 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,451 INFO sqlalchemy.engine.Engine [raw sql] ('female', 23)
2023-12-10 03:03:33,451 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,453 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,453 INFO sqlalchemy.engine.Engine [cached since 0.4554s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,455 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,456 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,457 INFO sqlalchemy.engine.Engine [generated in 0.00069s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 23}
2023-12-10 03:03:33,458 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,458 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,458 INFO sqlalchemy.engine.Engine [raw sql] ('Gabriel W. Pratt',)
2023-12-10 03:03:33,459 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,460 INFO sqlalchemy.engine.Engine [raw sql] ('Gabriel W. Pratt',)
2023-12-10 03:03:33,460 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,460 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,461 INFO sqlalchemy.engine.Engine [raw sql] ('male', 24)
2023-12-10 03:03:33,461 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,463 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,463 INFO sqlalchemy.engine.Engine [cached since 0.4652s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,464 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,465 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,465 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 24}
2023-12-10 03:03:33,466 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,466 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,467 INFO sqlalchemy.engine.Engine [raw sql] ('G. Mark Voit',)
2023-12-10 03:03:33,468 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,468 INFO sqlalchemy.engine.Engine [raw sql] ('G. Mark Voit',)
2023-12-10 03:03:33,469 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,469 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,470 INFO sqlalchemy.engine.Engine [raw sql] ('male', 25)
2023-12-10 03:03:33,471 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,473 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,473 INFO sqlalchemy.engine.Engine [cached since 0.4751s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,476 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,476 INFO sqlalchemy.engine.Engine [generated in 0.00040s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 25}
2023-12-10 03:03:33,477 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,477 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,478 INFO sqlalchemy.engine.Engine [raw sql] ('Monique Arnaud',)
2023-12-10 03:03:33,478 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,478 INFO sqlalchemy.engine.Engine [raw sql] ('Monique Arnaud',)
2023-12-10 03:03:33,479 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,479 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,480 INFO sqlalchemy.engine.Engine [raw sql] ('female', 26)
2023-12-10 03:03:33,480 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,481 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,482 INFO sqlalchemy.engine.Engine [cached since 0.4838s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,483 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,483 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,484 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 26}
2023-12-10 03:03:33,484 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,485 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,485 INFO sqlalchemy.engine.Engine [raw sql] ('Daniele Pierini',)
2023-12-10 03:03:33,486 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,486 INFO sqlalchemy.engine.Engine [raw sql] ('Daniele Pierini',)
2023-12-10 03:03:33,487 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,487 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,488 INFO sqlalchemy.engine.Engine [raw sql] ('male', 27)
2023-12-10 03:03:33,488 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,490 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,491 INFO sqlalchemy.engine.Engine [cached since 0.493s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,493 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,494 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)

2023-12-10 03:03:33,494 INFO sqlalchemy.engine.Engine [generated in 0.00042s] {'publication_id': '10.1088/0004-637X/713/2/1037', 'author_id': 27}
2023-12-10 03:03:33,495 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,495 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,496 INFO sqlalchemy.engine.Engine [raw sql] ('Michael Chanowitz',)
2023-12-10 03:03:33,496 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,497 INFO sqlalchemy.engine.Engine [raw sql] ('Michael Chanowitz',)
2023-12-10 03:03:33,497 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,498 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,498 INFO sqlalchemy.engine.Engine [raw sql] ('Higgs Mass Constraints on a Fourth Family: Upper and Lower Limits on CKM\n  Mixing',)
2023-12-10 03:03:33,499 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,499 INFO sqlalchemy.engine.Engine [raw sql] ('Higgs Mass Constraints on a Fourth Family: Upper and Lower Limits on CKM\n  Mixing',)
2023-12-10 03:03:33,499 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,500 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,500 INFO sqlalchemy.engine.Engine [raw sql] ('Phys. Rev. D:035018, 2010',)
2023-12-10 03:03:33,501 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,502 INFO sqlalchemy.engine.Engine [raw sql] ('Phys. Rev. D:035018, 2010',)
2023-12-10 03:03:33,502 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,503 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,503 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,505 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,505 INFO sqlalchemy.engine.Engine [raw sql] ('High Energy Physics',)
2023-12-10 03:03:33,508 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,509 INFO sqlalchemy.engine.Engine [cached since 0.5108s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,512 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,512 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {'publication_id': '10.1103/PhysRevD.82.035018', 'submitter_id': 9, 'title_id': 9, 'doi': '10.1103/PhysRevD.82.035018', 'report_no': 'LBNL-3802E', 'comments': 'Adds discussion of alternative fourth family masses, including new\n  best fit, and reconciles with published version', 'publication_type': None, 'journal_ref_id': 6, 'license_id': 1, 'field_of_study_id': 4}
2023-12-10 03:03:33,513 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,513 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,514 INFO sqlalchemy.engine.Engine [raw sql] ('Michael S. Chanowitz',)
2023-12-10 03:03:33,515 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,515 INFO sqlalchemy.engine.Engine [raw sql] ('Michael S. Chanowitz',)
2023-12-10 03:03:33,516 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,517 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,517 INFO sqlalchemy.engine.Engine [raw sql] ('male', 28)
2023-12-10 03:03:33,518 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,520 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,520 INFO sqlalchemy.engine.Engine [cached since 0.522s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,523 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,523 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {'publication_id': '10.1103/PhysRevD.82.035018', 'author_id': 28}
2023-12-10 03:03:33,524 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,525 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,525 INFO sqlalchemy.engine.Engine [raw sql] ('Or Sattath',)
2023-12-10 03:03:33,526 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,526 INFO sqlalchemy.engine.Engine [raw sql] ('Or Sattath',)
2023-12-10 03:03:33,527 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,527 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,527 INFO sqlalchemy.engine.Engine [raw sql] ('The Pursuit of Uniqueness: Extending Valiant-Vazirani Theorem to the\n  Probabilistic and Quantum Settings',)
2023-12-10 03:03:33,528 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,528 INFO sqlalchemy.engine.Engine [raw sql] ('The Pursuit of Uniqueness: Extending Valiant-Vazirani Theorem to the\n  Probabilistic and Quantum Settings',)
2023-12-10 03:03:33,529 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,529 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,529 INFO sqlalchemy.engine.Engine [raw sql] ('Quantum 6, 668 (2022)',)
2023-12-10 03:03:33,530 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,530 INFO sqlalchemy.engine.Engine [raw sql] ('Quantum 6, 668 (2022)',)
2023-12-10 03:03:33,531 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,531 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,532 INFO sqlalchemy.engine.Engine [raw sql] ('http://creativecommons.org/licenses/by/4.0/',)
2023-12-10 03:03:33,532 INFO sqlalchemy.engine.Engine INSERT INTO dim_license (license_type) VALUES (%s) RETURNING license_id
2023-12-10 03:03:33,532 INFO sqlalchemy.engine.Engine [raw sql] ('http://creativecommons.org/licenses/by/4.0/',)
2023-12-10 03:03:33,533 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,534 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,534 INFO sqlalchemy.engine.Engine [raw sql] ('Quantum Physics',)
2023-12-10 03:03:33,537 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,537 INFO sqlalchemy.engine.Engine [cached since 0.5392s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,539 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,540 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,541 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {'publication_id': '10.22331/q-2022-03-17-668', 'submitter_id': 10, 'title_id': 10, 'doi': '10.22331/q-2022-03-17-668', 'report_no': None, 'comments': '26 pages, 5 figures', 'publication_type': None, 'journal_ref_id': 7, 'license_id': 2, 'field_of_study_id': 2}

2023-12-10 03:03:33,542 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,542 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,543 INFO sqlalchemy.engine.Engine [raw sql] ('Dorit Aharonov',)
2023-12-10 03:03:33,544 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,545 INFO sqlalchemy.engine.Engine [raw sql] ('Dorit Aharonov',)
2023-12-10 03:03:33,545 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,546 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,546 INFO sqlalchemy.engine.Engine [raw sql] ('female', 29)
2023-12-10 03:03:33,547 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,549 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,549 INFO sqlalchemy.engine.Engine [cached since 0.5512s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,550 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,551 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,551 INFO sqlalchemy.engine.Engine [generated in 0.00030s] {'publication_id': '10.22331/q-2022-03-17-668', 'author_id': 29}
2023-12-10 03:03:33,552 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,553 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,553 INFO sqlalchemy.engine.Engine [raw sql] ('Michael Ben-Or',)
2023-12-10 03:03:33,554 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,554 INFO sqlalchemy.engine.Engine [raw sql] ('Michael Ben-Or',)
2023-12-10 03:03:33,555 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,555 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,556 INFO sqlalchemy.engine.Engine [raw sql] ('male', 30)
2023-12-10 03:03:33,557 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,559 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,559 INFO sqlalchemy.engine.Engine [cached since 0.5613s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,560 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,561 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,561 INFO sqlalchemy.engine.Engine [generated in 0.00027s] {'publication_id': '10.22331/q-2022-03-17-668', 'author_id': 30}
2023-12-10 03:03:33,562 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,562 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,563 INFO sqlalchemy.engine.Engine [raw sql] ('Fernando G.S.L. Brandão',)
2023-12-10 03:03:33,565 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,566 INFO sqlalchemy.engine.Engine [raw sql] ('Fernando G.S.L. Brandão',)
2023-12-10 03:03:33,566 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,566 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,567 INFO sqlalchemy.engine.Engine [raw sql] ('male', 31)
2023-12-10 03:03:33,567 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,569 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,569 INFO sqlalchemy.engine.Engine [cached since 0.5711s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,570 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,571 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,571 INFO sqlalchemy.engine.Engine [generated in 0.00038s] {'publication_id': '10.22331/q-2022-03-17-668', 'author_id': 31}
2023-12-10 03:03:33,572 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,573 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,573 INFO sqlalchemy.engine.Engine [raw sql] ('Or Sattath',)
2023-12-10 03:03:33,575 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,575 INFO sqlalchemy.engine.Engine [raw sql] ('Or Sattath',)
2023-12-10 03:03:33,576 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,577 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,577 INFO sqlalchemy.engine.Engine [raw sql] ('male', 32)
2023-12-10 03:03:33,578 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,579 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,580 INFO sqlalchemy.engine.Engine [cached since 0.582s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,581 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,582 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,582 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {'publication_id': '10.22331/q-2022-03-17-668', 'author_id': 32}
2023-12-10 03:03:33,583 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,583 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,584 INFO sqlalchemy.engine.Engine [raw sql] ('Pedro Pina Avelino',)
2023-12-10 03:03:33,584 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,585 INFO sqlalchemy.engine.Engine [raw sql] ('Pedro Pina Avelino',)
2023-12-10 03:03:33,585 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,586 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,586 INFO sqlalchemy.engine.Engine [raw sql] ('Anthropic versus cosmological solutions to the coincidence problem',)
2023-12-10 03:03:33,587 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,587 INFO sqlalchemy.engine.Engine [raw sql] ('Anthropic versus cosmological solutions to the coincidence problem',)
2023-12-10 03:03:33,588 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,589 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,589 INFO sqlalchemy.engine.Engine [raw sql] ('Phys.Rev.D83:103001,2011',)
2023-12-10 03:03:33,590 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,591 INFO sqlalchemy.engine.Engine [raw sql] ('Phys.Rev.D83:103001,2011',)
2023-12-10 03:03:33,591 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,592 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,592 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,593 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,593 INFO sqlalchemy.engine.Engine [raw sql] ('Astronomy and Astrophysics',)
2023-12-10 03:03:33,595 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,596 INFO sqlalchemy.engine.Engine [cached since 0.5978s ago] {'name': 'fact_publications'}

2023-12-10 03:03:33,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,598 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,599 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {'publication_id': '10.1103/PhysRevD.83.103001', 'submitter_id': 11, 'title_id': 11, 'doi': '10.1103/PhysRevD.83.103001', 'report_no': None, 'comments': '7 pages, 7 figures', 'publication_type': None, 'journal_ref_id': 8, 'license_id': 1, 'field_of_study_id': 1}
2023-12-10 03:03:33,600 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,600 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,601 INFO sqlalchemy.engine.Engine [raw sql] ('A. Barreira',)
2023-12-10 03:03:33,601 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,602 INFO sqlalchemy.engine.Engine [raw sql] ('A. Barreira',)
2023-12-10 03:03:33,602 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,603 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,603 INFO sqlalchemy.engine.Engine [raw sql] ('None', 33)
2023-12-10 03:03:33,604 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,605 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,606 INFO sqlalchemy.engine.Engine [cached since 0.6078s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,607 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,608 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,608 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {'publication_id': '10.1103/PhysRevD.83.103001', 'author_id': 33}
2023-12-10 03:03:33,609 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,610 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,610 INFO sqlalchemy.engine.Engine [raw sql] ('P. P. Avelino',)
2023-12-10 03:03:33,611 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,611 INFO sqlalchemy.engine.Engine [raw sql] ('P. P. Avelino',)
2023-12-10 03:03:33,612 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,612 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,612 INFO sqlalchemy.engine.Engine [raw sql] ('male', 34)
2023-12-10 03:03:33,613 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,615 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,615 INFO sqlalchemy.engine.Engine [cached since 0.6172s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,617 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,617 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {'publication_id': '10.1103/PhysRevD.83.103001', 'author_id': 34}
2023-12-10 03:03:33,618 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,620 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,620 INFO sqlalchemy.engine.Engine [raw sql] ('Marian Karlicky',)
2023-12-10 03:03:33,621 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,621 INFO sqlalchemy.engine.Engine [raw sql] ('Marian Karlicky',)
2023-12-10 03:03:33,622 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,623 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,624 INFO sqlalchemy.engine.Engine [raw sql] ('Separation of accelerated electrons and positrons in the relativistic\n  reconnection',)
2023-12-10 03:03:33,625 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,625 INFO sqlalchemy.engine.Engine [raw sql] ('Separation of accelerated electrons and positrons in the relativistic\n  reconnection',)
2023-12-10 03:03:33,626 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,626 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,627 INFO sqlalchemy.engine.Engine [raw sql] ('Astronomy and Astrophysics',)
2023-12-10 03:03:33,629 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,630 INFO sqlalchemy.engine.Engine [cached since 0.6318s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,631 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,632 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,632 INFO sqlalchemy.engine.Engine [generated in 0.00030s] {'publication_id': '10.1086/522926', 'submitter_id': 12, 'title_id': 12, 'doi': '10.1086/522926', 'report_no': None, 'comments': '7 pages, 8 figures, The Astrophysical Journal, accepted 28 Aug 2007', 'publication_type': None, 'journal_ref_id': None, 'license_id': None, 'field_of_study_id': 1}
2023-12-10 03:03:33,633 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,634 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,634 INFO sqlalchemy.engine.Engine [raw sql] ('Marian Karlicky',)
2023-12-10 03:03:33,635 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,635 INFO sqlalchemy.engine.Engine [raw sql] ('Marian Karlicky',)
2023-12-10 03:03:33,635 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,636 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,636 INFO sqlalchemy.engine.Engine [raw sql] ('female', 35)
2023-12-10 03:03:33,637 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,639 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,639 INFO sqlalchemy.engine.Engine [cached since 0.6411s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,641 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,641 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,642 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {'publication_id': '10.1086/522926', 'author_id': 35}
2023-12-10 03:03:33,642 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,643 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,643 INFO sqlalchemy.engine.Engine [raw sql] ('Bludov Yuliy',)
2023-12-10 03:03:33,644 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,644 INFO sqlalchemy.engine.Engine [raw sql] ('Bludov Yuliy',)
2023-12-10 03:03:33,645 INFO sqlalchemy.engine.Engine COMMIT

2023-12-10 03:03:33,645 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,645 INFO sqlalchemy.engine.Engine [raw sql] ('Nonlinear patterns in Bose-Einstein condensates in dissipative optical\n  lattices',)
2023-12-10 03:03:33,646 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,646 INFO sqlalchemy.engine.Engine [raw sql] ('Nonlinear patterns in Bose-Einstein condensates in dissipative optical\n  lattices',)
2023-12-10 03:03:33,647 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,648 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,648 INFO sqlalchemy.engine.Engine [raw sql] ('Physical Review A 81, 013625 (2010)',)
2023-12-10 03:03:33,648 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,649 INFO sqlalchemy.engine.Engine [raw sql] ('Physical Review A 81, 013625 (2010)',)
2023-12-10 03:03:33,649 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,650 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,650 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,651 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,651 INFO sqlalchemy.engine.Engine [raw sql] ('Condensed Matter Physics',)
2023-12-10 03:03:33,656 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,656 INFO sqlalchemy.engine.Engine [cached since 0.6585s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,659 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,660 INFO sqlalchemy.engine.Engine [generated in 0.00040s] {'publication_id': '10.1103/PhysRevA.81.013625', 'submitter_id': 13, 'title_id': 13, 'doi': '10.1103/PhysRevA.81.013625', 'report_no': None, 'comments': 'accepted for Phys. Rev. A', 'publication_type': None, 'journal_ref_id': 9, 'license_id': 1, 'field_of_study_id': 3}
2023-12-10 03:03:33,660 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,661 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,661 INFO sqlalchemy.engine.Engine [raw sql] ('Yu. V. Bludov',)
2023-12-10 03:03:33,662 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,662 INFO sqlalchemy.engine.Engine [raw sql] ('Yu. V. Bludov',)
2023-12-10 03:03:33,663 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,664 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,664 INFO sqlalchemy.engine.Engine [raw sql] ('None', 36)
2023-12-10 03:03:33,664 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,666 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,666 INFO sqlalchemy.engine.Engine [cached since 0.6682s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,667 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,668 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,668 INFO sqlalchemy.engine.Engine [generated in 0.00033s] {'publication_id': '10.1103/PhysRevA.81.013625', 'author_id': 36}
2023-12-10 03:03:33,669 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,669 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,670 INFO sqlalchemy.engine.Engine [raw sql] ('V. V. Konotop',)
2023-12-10 03:03:33,670 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,671 INFO sqlalchemy.engine.Engine [raw sql] ('V. V. Konotop',)
2023-12-10 03:03:33,671 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,672 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,673 INFO sqlalchemy.engine.Engine [raw sql] ('female', 37)
2023-12-10 03:03:33,674 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,675 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,676 INFO sqlalchemy.engine.Engine [cached since 0.6775s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,677 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,677 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,677 INFO sqlalchemy.engine.Engine [generated in 0.00031s] {'publication_id': '10.1103/PhysRevA.81.013625', 'author_id': 37}
2023-12-10 03:03:33,678 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,679 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,679 INFO sqlalchemy.engine.Engine [raw sql] ('Ryan Porter',)
2023-12-10 03:03:33,680 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,680 INFO sqlalchemy.engine.Engine [raw sql] ('Ryan Porter',)
2023-12-10 03:03:33,681 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,681 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,682 INFO sqlalchemy.engine.Engine [raw sql] ('The origin of molecular hydrogen emission in cooling-flow filaments',)
2023-12-10 03:03:33,682 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,683 INFO sqlalchemy.engine.Engine [raw sql] ('The origin of molecular hydrogen emission in cooling-flow filaments',)
2023-12-10 03:03:33,684 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,684 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,685 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,685 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,686 INFO sqlalchemy.engine.Engine [raw sql] ('Astronomy and Astrophysics',)
2023-12-10 03:03:33,690 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,691 INFO sqlalchemy.engine.Engine [cached since 0.6925s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,693 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,694 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,694 INFO sqlalchemy.engine.Engine [generated in 0.00038s] {'publication_id': '10.1111/j.1745-3933.2008.00463.x', 'submitter_id': 14, 'title_id': 14, 'doi': '10.1111/j.1745-3933.2008.00463.x', 'report_no': None, 'comments': '5 pages, 4 figures, accepted to MNRAS Letters', 'publication_type': None, 'journal_ref_id': None, 'license_id': 1, 'field_of_study_id': 1}

2023-12-10 03:03:33,695 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,696 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,696 INFO sqlalchemy.engine.Engine [raw sql] ('G. J. Ferland',)
2023-12-10 03:03:33,697 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,697 INFO sqlalchemy.engine.Engine [raw sql] ('G. J. Ferland',)
2023-12-10 03:03:33,697 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,698 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,698 INFO sqlalchemy.engine.Engine [raw sql] ('male', 38)
2023-12-10 03:03:33,699 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,700 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,700 INFO sqlalchemy.engine.Engine [cached since 0.7025s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,702 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,703 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,703 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {'publication_id': '10.1111/j.1745-3933.2008.00463.x', 'author_id': 38}
2023-12-10 03:03:33,704 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,705 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,705 INFO sqlalchemy.engine.Engine [raw sql] ('A. C. Fabian',)
2023-12-10 03:03:33,707 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,708 INFO sqlalchemy.engine.Engine [raw sql] ('A. C. Fabian',)
2023-12-10 03:03:33,709 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,710 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,710 INFO sqlalchemy.engine.Engine [raw sql] ('None', 39)
2023-12-10 03:03:33,711 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,712 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,713 INFO sqlalchemy.engine.Engine [cached since 0.7148s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,714 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,714 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,715 INFO sqlalchemy.engine.Engine [generated in 0.00028s] {'publication_id': '10.1111/j.1745-3933.2008.00463.x', 'author_id': 39}
2023-12-10 03:03:33,715 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,716 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,716 INFO sqlalchemy.engine.Engine [raw sql] ('N. A. Hatch',)
2023-12-10 03:03:33,717 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,717 INFO sqlalchemy.engine.Engine [raw sql] ('N. A. Hatch',)
2023-12-10 03:03:33,717 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,718 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,718 INFO sqlalchemy.engine.Engine [raw sql] ('female', 40)
2023-12-10 03:03:33,732 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,747 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,749 INFO sqlalchemy.engine.Engine [cached since 0.7508s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,753 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,755 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,756 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {'publication_id': '10.1111/j.1745-3933.2008.00463.x', 'author_id': 40}
2023-12-10 03:03:33,759 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,782 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,809 INFO sqlalchemy.engine.Engine [raw sql] ('R. M. Johnstone',)
2023-12-10 03:03:33,821 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,822 INFO sqlalchemy.engine.Engine [raw sql] ('R. M. Johnstone',)
2023-12-10 03:03:33,823 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,824 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,824 INFO sqlalchemy.engine.Engine [raw sql] ('female', 41)
2023-12-10 03:03:33,826 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,831 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,833 INFO sqlalchemy.engine.Engine [cached since 0.8349s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,838 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,840 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,842 INFO sqlalchemy.engine.Engine [generated in 0.00234s] {'publication_id': '10.1111/j.1745-3933.2008.00463.x', 'author_id': 41}
2023-12-10 03:03:33,848 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,851 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,851 INFO sqlalchemy.engine.Engine [raw sql] ('R. L. Porter',)
2023-12-10 03:03:33,854 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,854 INFO sqlalchemy.engine.Engine [raw sql] ('R. L. Porter',)
2023-12-10 03:03:33,855 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,856 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,856 INFO sqlalchemy.engine.Engine [raw sql] ('female', 42)
2023-12-10 03:03:33,857 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,860 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,860 INFO sqlalchemy.engine.Engine [cached since 0.8623s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,862 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,862 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,863 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {'publication_id': '10.1111/j.1745-3933.2008.00463.x', 'author_id': 42}
2023-12-10 03:03:33,865 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,869 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,870 INFO sqlalchemy.engine.Engine [raw sql] ('P. A. M. van Hoof',)
2023-12-10 03:03:33,872 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,872 INFO sqlalchemy.engine.Engine [raw sql] ('P. A. M. van Hoof',)
2023-12-10 03:03:33,873 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,874 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,874 INFO sqlalchemy.engine.Engine [raw sql] ('male', 43)
2023-12-10 03:03:33,874 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,877 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

2023-12-10 03:03:33,878 INFO sqlalchemy.engine.Engine [cached since 0.8798s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,879 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,880 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,880 INFO sqlalchemy.engine.Engine [generated in 0.00038s] {'publication_id': '10.1111/j.1745-3933.2008.00463.x', 'author_id': 43}
2023-12-10 03:03:33,881 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,882 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,882 INFO sqlalchemy.engine.Engine [raw sql] ('R. J. R. Williams',)
2023-12-10 03:03:33,882 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,883 INFO sqlalchemy.engine.Engine [raw sql] ('R. J. R. Williams',)
2023-12-10 03:03:33,883 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,884 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,884 INFO sqlalchemy.engine.Engine [raw sql] ('female', 44)
2023-12-10 03:03:33,886 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,888 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,888 INFO sqlalchemy.engine.Engine [cached since 0.8902s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,890 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,890 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,891 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {'publication_id': '10.1111/j.1745-3933.2008.00463.x', 'author_id': 44}
2023-12-10 03:03:33,892 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,893 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:33,893 INFO sqlalchemy.engine.Engine [raw sql] ('Carlos Augusto Romero Filho',)
2023-12-10 03:03:33,894 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,894 INFO sqlalchemy.engine.Engine [raw sql] ('Carlos Augusto Romero Filho',)
2023-12-10 03:03:33,895 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,895 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,895 INFO sqlalchemy.engine.Engine [raw sql] ('Inducing the cosmological constant from five-dimensional Weyl space',)
2023-12-10 03:03:33,896 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,896 INFO sqlalchemy.engine.Engine [raw sql] ('Inducing the cosmological constant from five-dimensional Weyl space',)
2023-12-10 03:03:33,897 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,897 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,898 INFO sqlalchemy.engine.Engine [raw sql] ('Found.Phys.39:1205-1216,2009',)
2023-12-10 03:03:33,898 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,898 INFO sqlalchemy.engine.Engine [raw sql] ('Found.Phys.39:1205-1216,2009',)
2023-12-10 03:03:33,899 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,899 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,900 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,902 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,903 INFO sqlalchemy.engine.Engine [raw sql] ('Astronomy and Astrophysics',)
2023-12-10 03:03:33,906 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,907 INFO sqlalchemy.engine.Engine [cached since 0.9092s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,909 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,910 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,910 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {'publication_id': '10.1007/s10701-009-9340-7', 'submitter_id': 15, 'title_id': 15, 'doi': '10.1007/s10701-009-9340-7', 'report_no': None, 'comments': '7 pages', 'publication_type': None, 'journal_ref_id': 10, 'license_id': 1, 'field_of_study_id': 1}
2023-12-10 03:03:33,911 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,913 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,914 INFO sqlalchemy.engine.Engine [raw sql] ('José Edgar Madriz Aguilar',)
2023-12-10 03:03:33,919 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,922 INFO sqlalchemy.engine.Engine [raw sql] ('José Edgar Madriz Aguilar',)
2023-12-10 03:03:33,926 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,927 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,927 INFO sqlalchemy.engine.Engine [raw sql] ('male', 45)
2023-12-10 03:03:33,929 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,931 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,932 INFO sqlalchemy.engine.Engine [cached since 0.9338s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,933 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,934 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,935 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {'publication_id': '10.1007/s10701-009-9340-7', 'author_id': 45}
2023-12-10 03:03:33,937 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,938 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,939 INFO sqlalchemy.engine.Engine [raw sql] ('Carlos Romero',)
2023-12-10 03:03:33,941 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,941 INFO sqlalchemy.engine.Engine [raw sql] ('Carlos Romero',)
2023-12-10 03:03:33,943 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,943 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,943 INFO sqlalchemy.engine.Engine [raw sql] ('male', 46)
2023-12-10 03:03:33,944 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,946 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,946 INFO sqlalchemy.engine.Engine [cached since 0.948s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,947 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,948 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,948 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {'publication_id': '10.1007/s10701-009-9340-7', 'author_id': 46}
2023-12-10 03:03:33,949 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,949 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s

2023-12-10 03:03:33,950 INFO sqlalchemy.engine.Engine [raw sql] ('Neal Madras',)
2023-12-10 03:03:33,951 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:33,951 INFO sqlalchemy.engine.Engine [raw sql] ('Neal Madras',)
2023-12-10 03:03:33,952 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,953 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:33,953 INFO sqlalchemy.engine.Engine [raw sql] ('Quantitative bounds for Markov chain convergence: Wasserstein and total\n  variation distances',)
2023-12-10 03:03:33,954 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:33,955 INFO sqlalchemy.engine.Engine [raw sql] ('Quantitative bounds for Markov chain convergence: Wasserstein and total\n  variation distances',)
2023-12-10 03:03:33,967 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,969 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:33,969 INFO sqlalchemy.engine.Engine [raw sql] ('Bernoulli 2010, Vol. 16, No. 3, 882-908',)
2023-12-10 03:03:33,971 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:33,971 INFO sqlalchemy.engine.Engine [raw sql] ('Bernoulli 2010, Vol. 16, No. 3, 882-908',)
2023-12-10 03:03:33,972 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,973 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:33,974 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:33,975 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:33,975 INFO sqlalchemy.engine.Engine [raw sql] ('Mathematics',)
2023-12-10 03:03:33,978 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,979 INFO sqlalchemy.engine.Engine [cached since 0.9808s ago] {'name': 'fact_publications'}
2023-12-10 03:03:33,980 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,981 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:33,981 INFO sqlalchemy.engine.Engine [generated in 0.00033s] {'publication_id': '10.3150/09-BEJ238', 'submitter_id': 16, 'title_id': 16, 'doi': '10.3150/09-BEJ238', 'report_no': 'IMS-BEJ-BEJ238', 'comments': 'Published in at http://dx.doi.org/10.3150/09-BEJ238 the Bernoulli\n  (http://isi.cbs.nl/bernoulli/) by the International Statistical\n  Institute/Bernoulli Society (http://isi.cbs.nl/BS/bshome.htm)', 'publication_type': None, 'journal_ref_id': 11, 'license_id': 1, 'field_of_study_id': 5}
2023-12-10 03:03:33,982 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,983 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,983 INFO sqlalchemy.engine.Engine [raw sql] ('Neal Madras',)
2023-12-10 03:03:33,984 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,984 INFO sqlalchemy.engine.Engine [raw sql] ('Neal Madras',)
2023-12-10 03:03:33,985 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,986 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,986 INFO sqlalchemy.engine.Engine [raw sql] ('male', 47)
2023-12-10 03:03:33,987 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,990 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:33,991 INFO sqlalchemy.engine.Engine [cached since 0.9929s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:33,993 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:33,993 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:33,994 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'publication_id': '10.3150/09-BEJ238', 'author_id': 47}
2023-12-10 03:03:33,995 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,995 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:33,996 INFO sqlalchemy.engine.Engine [raw sql] ('Deniz Sezer',)
2023-12-10 03:03:33,996 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:33,997 INFO sqlalchemy.engine.Engine [raw sql] ('Deniz Sezer',)
2023-12-10 03:03:33,997 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:33,998 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:33,998 INFO sqlalchemy.engine.Engine [raw sql] ('male', 48)
2023-12-10 03:03:33,999 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,000 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,002 INFO sqlalchemy.engine.Engine [cached since 1.004s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,009 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,011 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,012 INFO sqlalchemy.engine.Engine [generated in 0.00125s] {'publication_id': '10.3150/09-BEJ238', 'author_id': 48}
2023-12-10 03:03:34,016 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,020 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:34,021 INFO sqlalchemy.engine.Engine [raw sql] ('Andrew Stewart M',)
2023-12-10 03:03:34,023 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:34,023 INFO sqlalchemy.engine.Engine [raw sql] ('Andrew Stewart M',)
2023-12-10 03:03:34,024 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,025 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:34,026 INFO sqlalchemy.engine.Engine [raw sql] ('Self-Assembly in the Growth of Precious Opal',)
2023-12-10 03:03:34,027 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:34,027 INFO sqlalchemy.engine.Engine [raw sql] ('Self-Assembly in the Growth of Precious Opal',)
2023-12-10 03:03:34,028 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,029 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:34,029 INFO sqlalchemy.engine.Engine [raw sql] ('Journal of Crystal Growth, 312 (3) 391-396 (2010)',)
2023-12-10 03:03:34,030 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:34,030 INFO sqlalchemy.engine.Engine [raw sql] ('Journal of Crystal Growth, 312 (3) 391-396 (2010)',)
2023-12-10 03:03:34,030 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,031 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:34,031 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:34,032 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:34,032 INFO sqlalchemy.engine.Engine [raw sql] ('Condensed Matter Physics',)
2023-12-10 03:03:34,035 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

2023-12-10 03:03:34,036 INFO sqlalchemy.engine.Engine [cached since 1.038s ago] {'name': 'fact_publications'}
2023-12-10 03:03:34,038 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,039 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:34,040 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {'publication_id': '10.1016/j.jcrysgro.2009.09.042', 'submitter_id': 17, 'title_id': 17, 'doi': '10.1016/j.jcrysgro.2009.09.042', 'report_no': None, 'comments': '12 pages pdf http://dx.doi.org/10.1016/j.jcrysgro.2009.09.042', 'publication_type': None, 'journal_ref_id': 12, 'license_id': 1, 'field_of_study_id': 3}
2023-12-10 03:03:34,041 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,043 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,043 INFO sqlalchemy.engine.Engine [raw sql] ('A.M. Stewart',)
2023-12-10 03:03:34,044 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,045 INFO sqlalchemy.engine.Engine [raw sql] ('A.M. Stewart',)
2023-12-10 03:03:34,045 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,046 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,046 INFO sqlalchemy.engine.Engine [raw sql] ('None', 49)
2023-12-10 03:03:34,047 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,049 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,049 INFO sqlalchemy.engine.Engine [cached since 1.051s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,050 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,051 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,052 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {'publication_id': '10.1016/j.jcrysgro.2009.09.042', 'author_id': 49}
2023-12-10 03:03:34,053 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,054 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,054 INFO sqlalchemy.engine.Engine [raw sql] ('Lewis T. Chadderton',)
2023-12-10 03:03:34,055 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,056 INFO sqlalchemy.engine.Engine [raw sql] ('Lewis T. Chadderton',)
2023-12-10 03:03:34,057 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,060 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,063 INFO sqlalchemy.engine.Engine [raw sql] ('male', 50)
2023-12-10 03:03:34,072 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,077 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,079 INFO sqlalchemy.engine.Engine [cached since 1.081s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,084 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,084 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {'publication_id': '10.1016/j.jcrysgro.2009.09.042', 'author_id': 50}
2023-12-10 03:03:34,086 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,088 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,089 INFO sqlalchemy.engine.Engine [raw sql] ('Brian R. Senior',)
2023-12-10 03:03:34,092 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,092 INFO sqlalchemy.engine.Engine [raw sql] ('Brian R. Senior',)
2023-12-10 03:03:34,094 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,095 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,095 INFO sqlalchemy.engine.Engine [raw sql] ('male', 51)
2023-12-10 03:03:34,096 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,098 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,099 INFO sqlalchemy.engine.Engine [cached since 1.101s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,101 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,102 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,103 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {'publication_id': '10.1016/j.jcrysgro.2009.09.042', 'author_id': 51}
2023-12-10 03:03:34,104 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,106 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:34,107 INFO sqlalchemy.engine.Engine [raw sql] ('Sven Friedemann',)
2023-12-10 03:03:34,108 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:34,108 INFO sqlalchemy.engine.Engine [raw sql] ('Sven Friedemann',)
2023-12-10 03:03:34,110 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,110 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:34,111 INFO sqlalchemy.engine.Engine [raw sql] ('The crossed-field and single-field Hall effect in LuRh2Si2',)
2023-12-10 03:03:34,112 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:34,112 INFO sqlalchemy.engine.Engine [raw sql] ('The crossed-field and single-field Hall effect in LuRh2Si2',)
2023-12-10 03:03:34,113 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,113 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:34,114 INFO sqlalchemy.engine.Engine [raw sql] ('Phys. Status Solidi B (2010) 247, 723-726',)
2023-12-10 03:03:34,115 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:34,116 INFO sqlalchemy.engine.Engine [raw sql] ('Phys. Status Solidi B (2010) 247, 723-726',)
2023-12-10 03:03:34,117 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,117 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:34,118 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:34,119 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:34,121 INFO sqlalchemy.engine.Engine [raw sql] ('Condensed Matter Physics',)
2023-12-10 03:03:34,127 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,130 INFO sqlalchemy.engine.Engine [cached since 1.132s ago] {'name': 'fact_publications'}
2023-12-10 03:03:34,138 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,144 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)

2023-12-10 03:03:34,146 INFO sqlalchemy.engine.Engine [generated in 0.00158s] {'publication_id': '10.1002/pssb.200983021', 'submitter_id': 18, 'title_id': 18, 'doi': '10.1002/pssb.200983021', 'report_no': None, 'comments': '4 pages, 3 figures, accepted for publication in physica status solidi\n  to QCNP2009', 'publication_type': None, 'journal_ref_id': 13, 'license_id': 1, 'field_of_study_id': 3}
2023-12-10 03:03:34,148 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,150 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,151 INFO sqlalchemy.engine.Engine [raw sql] ('Sven Friedemann',)
2023-12-10 03:03:34,155 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,157 INFO sqlalchemy.engine.Engine [raw sql] ('Sven Friedemann',)
2023-12-10 03:03:34,159 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,161 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,162 INFO sqlalchemy.engine.Engine [raw sql] ('male', 52)
2023-12-10 03:03:34,164 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,169 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,171 INFO sqlalchemy.engine.Engine [cached since 1.173s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,179 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,183 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,189 INFO sqlalchemy.engine.Engine [generated in 0.00594s] {'publication_id': '10.1002/pssb.200983021', 'author_id': 52}
2023-12-10 03:03:34,193 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,196 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,199 INFO sqlalchemy.engine.Engine [raw sql] ('Niels Oeschler',)
2023-12-10 03:03:34,202 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,204 INFO sqlalchemy.engine.Engine [raw sql] ('Niels Oeschler',)
2023-12-10 03:03:34,206 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,209 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,210 INFO sqlalchemy.engine.Engine [raw sql] ('male', 53)
2023-12-10 03:03:34,212 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,215 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,215 INFO sqlalchemy.engine.Engine [cached since 1.218s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,218 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,221 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,222 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {'publication_id': '10.1002/pssb.200983021', 'author_id': 53}
2023-12-10 03:03:34,224 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,225 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,227 INFO sqlalchemy.engine.Engine [raw sql] ('Steffen Wirth',)
2023-12-10 03:03:34,230 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,232 INFO sqlalchemy.engine.Engine [raw sql] ('Steffen Wirth',)
2023-12-10 03:03:34,236 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,240 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,241 INFO sqlalchemy.engine.Engine [raw sql] ('male', 54)
2023-12-10 03:03:34,243 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,249 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,252 INFO sqlalchemy.engine.Engine [cached since 1.254s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,258 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,259 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {'publication_id': '10.1002/pssb.200983021', 'author_id': 54}
2023-12-10 03:03:34,260 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,262 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,262 INFO sqlalchemy.engine.Engine [raw sql] ('Frank Steglich',)
2023-12-10 03:03:34,264 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,264 INFO sqlalchemy.engine.Engine [raw sql] ('Frank Steglich',)
2023-12-10 03:03:34,265 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,266 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,266 INFO sqlalchemy.engine.Engine [raw sql] ('male', 55)
2023-12-10 03:03:34,268 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,270 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,270 INFO sqlalchemy.engine.Engine [cached since 1.272s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,272 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,274 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,275 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {'publication_id': '10.1002/pssb.200983021', 'author_id': 55}
2023-12-10 03:03:34,281 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,285 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,291 INFO sqlalchemy.engine.Engine [raw sql] ('Sam MaQuilon',)
2023-12-10 03:03:34,294 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,295 INFO sqlalchemy.engine.Engine [raw sql] ('Sam MaQuilon',)
2023-12-10 03:03:34,296 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,297 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,297 INFO sqlalchemy.engine.Engine [raw sql] ('male', 56)
2023-12-10 03:03:34,300 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,306 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,307 INFO sqlalchemy.engine.Engine [cached since 1.309s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,310 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,313 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,314 INFO sqlalchemy.engine.Engine [generated in 0.00155s] {'publication_id': '10.1002/pssb.200983021', 'author_id': 56}
2023-12-10 03:03:34,316 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,319 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,321 INFO sqlalchemy.engine.Engine [raw sql] ('Zachary Fisk',)
2023-12-10 03:03:34,326 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,328 INFO sqlalchemy.engine.Engine [raw sql] ('Zachary Fisk',)
2023-12-10 03:03:34,336 INFO sqlalchemy.engine.Engine COMMIT

2023-12-10 03:03:34,341 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,343 INFO sqlalchemy.engine.Engine [raw sql] ('male', 57)
2023-12-10 03:03:34,346 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,354 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,362 INFO sqlalchemy.engine.Engine [cached since 1.363s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,369 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,372 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,374 INFO sqlalchemy.engine.Engine [generated in 0.00224s] {'publication_id': '10.1002/pssb.200983021', 'author_id': 57}
2023-12-10 03:03:34,377 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,380 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:34,382 INFO sqlalchemy.engine.Engine [raw sql] ('Siddhartha R. Dalal',)
2023-12-10 03:03:34,397 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:34,398 INFO sqlalchemy.engine.Engine [raw sql] ('Siddhartha R. Dalal',)
2023-12-10 03:03:34,402 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,405 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s
2023-12-10 03:03:34,405 INFO sqlalchemy.engine.Engine [raw sql] ('Detection of radioactive material entering national ports: A Bayesian\n  approach to radiation portal data',)
2023-12-10 03:03:34,410 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:34,412 INFO sqlalchemy.engine.Engine [raw sql] ('Detection of radioactive material entering national ports: A Bayesian\n  approach to radiation portal data',)
2023-12-10 03:03:34,414 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,417 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:34,418 INFO sqlalchemy.engine.Engine [raw sql] ('Annals of Applied Statistics 2010, Vol. 4, No. 3, 1256-1271',)
2023-12-10 03:03:34,435 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:34,437 INFO sqlalchemy.engine.Engine [raw sql] ('Annals of Applied Statistics 2010, Vol. 4, No. 3, 1256-1271',)
2023-12-10 03:03:34,440 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,443 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:34,445 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:34,448 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:34,450 INFO sqlalchemy.engine.Engine [raw sql] ('Statistics',)
2023-12-10 03:03:34,454 INFO sqlalchemy.engine.Engine INSERT INTO dim_field_of_study (field_name) VALUES (%s) RETURNING field_of_study_id
2023-12-10 03:03:34,455 INFO sqlalchemy.engine.Engine [raw sql] ('Statistics',)
2023-12-10 03:03:34,469 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,478 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,479 INFO sqlalchemy.engine.Engine [cached since 1.481s ago] {'name': 'fact_publications'}
2023-12-10 03:03:34,482 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,486 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:34,487 INFO sqlalchemy.engine.Engine [generated in 0.00162s] {'publication_id': '10.1214/10-AOAS334', 'submitter_id': 19, 'title_id': 19, 'doi': '10.1214/10-AOAS334', 'report_no': 'IMS-AOAS-AOAS334', 'comments': 'Published in at http://dx.doi.org/10.1214/10-AOAS334 the Annals of\n  Applied Statistics (http://www.imstat.org/aoas/) by the Institute of\n  Mathematical Statistics (http://www.imstat.org)', 'publication_type': None, 'journal_ref_id': 14, 'license_id': 1, 'field_of_study_id': 6}
2023-12-10 03:03:34,490 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,494 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,495 INFO sqlalchemy.engine.Engine [raw sql] ('Siddhartha R. Dalal',)
2023-12-10 03:03:34,497 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,498 INFO sqlalchemy.engine.Engine [raw sql] ('Siddhartha R. Dalal',)
2023-12-10 03:03:34,501 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,504 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,505 INFO sqlalchemy.engine.Engine [raw sql] ('male', 58)
2023-12-10 03:03:34,519 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,529 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,531 INFO sqlalchemy.engine.Engine [cached since 1.533s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,539 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,541 INFO sqlalchemy.engine.Engine [generated in 0.00167s] {'publication_id': '10.1214/10-AOAS334', 'author_id': 58}
2023-12-10 03:03:34,545 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,547 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,550 INFO sqlalchemy.engine.Engine [raw sql] ('Bing Han',)
2023-12-10 03:03:34,553 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,555 INFO sqlalchemy.engine.Engine [raw sql] ('Bing Han',)
2023-12-10 03:03:34,557 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,560 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,560 INFO sqlalchemy.engine.Engine [raw sql] ('male', 59)
2023-12-10 03:03:34,562 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,570 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,574 INFO sqlalchemy.engine.Engine [cached since 1.576s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,578 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,582 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,584 INFO sqlalchemy.engine.Engine [generated in 0.00269s] {'publication_id': '10.1214/10-AOAS334', 'author_id': 59}
2023-12-10 03:03:34,587 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,590 INFO sqlalchemy.engine.Engine SELECT submitter_id FROM dim_submitter WHERE submitter_name = %s
2023-12-10 03:03:34,591 INFO sqlalchemy.engine.Engine [raw sql] ('Cecile Robilliard',)
2023-12-10 03:03:34,595 INFO sqlalchemy.engine.Engine INSERT INTO dim_submitter (submitter_name) VALUES (%s) RETURNING submitter_id
2023-12-10 03:03:34,596 INFO sqlalchemy.engine.Engine [raw sql] ('Cecile Robilliard',)
2023-12-10 03:03:34,609 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,613 INFO sqlalchemy.engine.Engine SELECT title_id FROM dim_title WHERE title = %s

2023-12-10 03:03:34,615 INFO sqlalchemy.engine.Engine [raw sql] ('Observation of magneto-electric non-reciprocity in molecular nitrogen\n  gas',)
2023-12-10 03:03:34,617 INFO sqlalchemy.engine.Engine INSERT INTO dim_title (title) VALUES (%s) RETURNING title_id
2023-12-10 03:03:34,619 INFO sqlalchemy.engine.Engine [raw sql] ('Observation of magneto-electric non-reciprocity in molecular nitrogen\n  gas',)
2023-12-10 03:03:34,622 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,625 INFO sqlalchemy.engine.Engine SELECT journal_ref_id FROM dim_journal_ref WHERE journal_ref = %s
2023-12-10 03:03:34,626 INFO sqlalchemy.engine.Engine [raw sql] ('Physical Review Letters 106, 19 (2011) 193003 (4 pages)',)
2023-12-10 03:03:34,630 INFO sqlalchemy.engine.Engine INSERT INTO dim_journal_ref (journal_ref) VALUES (%s) RETURNING journal_ref_id
2023-12-10 03:03:34,632 INFO sqlalchemy.engine.Engine [raw sql] ('Physical Review Letters 106, 19 (2011) 193003 (4 pages)',)
2023-12-10 03:03:34,637 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,643 INFO sqlalchemy.engine.Engine SELECT license_id FROM dim_license WHERE license_type = %s
2023-12-10 03:03:34,649 INFO sqlalchemy.engine.Engine [raw sql] ('http://arxiv.org/licenses/nonexclusive-distrib/1.0/',)
2023-12-10 03:03:34,661 INFO sqlalchemy.engine.Engine SELECT field_of_study_id FROM dim_field_of_study WHERE field_name = %s
2023-12-10 03:03:34,662 INFO sqlalchemy.engine.Engine [raw sql] ('Quantum Physics',)
2023-12-10 03:03:34,671 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,673 INFO sqlalchemy.engine.Engine [cached since 1.675s ago] {'name': 'fact_publications'}
2023-12-10 03:03:34,678 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,686 INFO sqlalchemy.engine.Engine INSERT INTO fact_publications (publication_id, submitter_id, title_id, doi, report_no, comments, publication_type, journal_ref_id, license_id, field_of_study_id) VALUES (%(publication_id)s, %(submitter_id)s, %(title_id)s, %(doi)s, %(report_no)s, %(comments)s, %(publication_type)s, %(journal_ref_id)s, %(license_id)s, %(field_of_study_id)s)
2023-12-10 03:03:34,690 INFO sqlalchemy.engine.Engine [generated in 0.00374s] {'publication_id': '10.1103/PhysRevLett.106.193003', 'submitter_id': 20, 'title_id': 20, 'doi': '10.1103/PhysRevLett.106.193003', 'report_no': None, 'comments': '4 pages, accepted for publication in Physical Review Letters', 'publication_type': None, 'journal_ref_id': 15, 'license_id': 1, 'field_of_study_id': 2}
2023-12-10 03:03:34,697 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,700 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,704 INFO sqlalchemy.engine.Engine [raw sql] ('B. Pelle',)
2023-12-10 03:03:34,711 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,714 INFO sqlalchemy.engine.Engine [raw sql] ('B. Pelle',)
2023-12-10 03:03:34,740 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,744 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,745 INFO sqlalchemy.engine.Engine [raw sql] ('None', 60)
2023-12-10 03:03:34,748 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,756 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,758 INFO sqlalchemy.engine.Engine [cached since 1.76s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,762 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,765 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,769 INFO sqlalchemy.engine.Engine [generated in 0.00395s] {'publication_id': '10.1103/PhysRevLett.106.193003', 'author_id': 60}
2023-12-10 03:03:34,777 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,781 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,782 INFO sqlalchemy.engine.Engine [raw sql] ('H. Bitard',)
2023-12-10 03:03:34,785 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,786 INFO sqlalchemy.engine.Engine [raw sql] ('H. Bitard',)
2023-12-10 03:03:34,801 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,804 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,806 INFO sqlalchemy.engine.Engine [raw sql] ('male', 61)
2023-12-10 03:03:34,809 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,847 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,848 INFO sqlalchemy.engine.Engine [cached since 1.85s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,852 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,853 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {'publication_id': '10.1103/PhysRevLett.106.193003', 'author_id': 61}
2023-12-10 03:03:34,857 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,860 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,863 INFO sqlalchemy.engine.Engine [raw sql] ('G. Bailly',)
2023-12-10 03:03:34,870 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,874 INFO sqlalchemy.engine.Engine [raw sql] ('G. Bailly',)
2023-12-10 03:03:34,877 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,881 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,882 INFO sqlalchemy.engine.Engine [raw sql] ('male', 62)
2023-12-10 03:03:34,885 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,891 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,893 INFO sqlalchemy.engine.Engine [cached since 1.895s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,914 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)
2023-12-10 03:03:34,916 INFO sqlalchemy.engine.Engine [generated in 0.00226s] {'publication_id': '10.1103/PhysRevLett.106.193003', 'author_id': 62}
2023-12-10 03:03:34,937 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,970 INFO sqlalchemy.engine.Engine SELECT author_id FROM dim_authors WHERE author_name = %s
2023-12-10 03:03:34,972 INFO sqlalchemy.engine.Engine [raw sql] ('C. Robilliard',)
2023-12-10 03:03:34,975 INFO sqlalchemy.engine.Engine INSERT INTO dim_authors (author_name) VALUES (%s) RETURNING author_id
2023-12-10 03:03:34,976 INFO sqlalchemy.engine.Engine [raw sql] ('C. Robilliard',)
2023-12-10 03:03:34,976 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,977 INFO sqlalchemy.engine.Engine UPDATE dim_authors SET gender = %s WHERE author_id = %s
2023-12-10 03:03:34,977 INFO sqlalchemy.engine.Engine [raw sql] ('female', 63)
2023-12-10 03:03:34,980 INFO sqlalchemy.engine.Engine COMMIT
2023-12-10 03:03:34,982 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:03:34,985 INFO sqlalchemy.engine.Engine [cached since 1.987s ago] {'name': 'publication_author_junction'}
2023-12-10 03:03:34,989 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-10 03:03:34,991 INFO sqlalchemy.engine.Engine INSERT INTO publication_author_junction (publication_id, author_id) VALUES (%(publication_id)s, %(author_id)s)

2023-12-10 03:03:34,993 INFO sqlalchemy.engine.Engine [generated in 0.00223s] {'publication_id': '10.1103/PhysRevLett.106.193003', 'author_id': 63}
2023-12-10 03:03:34,995 INFO sqlalchemy.engine.Engine COMMIT

In [163]:
print(df1.sample(3))

           id                    submitter  \
3   1012.0499                Frank Nerling
18  1011.2895          Siddhartha R. Dalal
14   809.2547  Carlos Augusto Romero Filho

                                          authors  \
3   Frank Nerling (for the COMPASS collaboration)
18                  Siddhartha R. Dalal, Bing Han
14    Jose Edgar Madriz Aguilar and Carlos Romero

                                                title  \
3                     Meson spectroscopy with COMPASS
18  Detection of radioactive material entering nat...
14  Inducing the cosmological constant from five-d...

                                             comments  \
3   6 pages, 6 figures, to appear in the proceedin...
18  Published in at http://dx.doi.org/10.1214/10-A...
14                                            7 pages

                                          journal-ref  \
3                     J.Phys.Conf.Ser.312:032017,2011
18  Annals of Applied Statistics 2010, Vol. 4, No....
14                       Found.Phys.39:1205-1216,2009

                               doi         report-no  \
3   10.1088/1742-6596/312/3/032017               NaN
18              10.1214/10-AOAS334  IMS-AOAS-AOAS334
14       10.1007/s10701-009-9340-7               NaN

                        categories  \
3                           hep-ex
18                         stat.AP
14  math-ph astro-ph gr-qc math.MP

                                              license  ... type bibtex  \
3   http://arxiv.org/licenses/nonexclusive-distrib...  ...  NaN    NaN
18  http://arxiv.org/licenses/nonexclusive-distrib...  ...  NaN    NaN
14  http://arxiv.org/licenses/nonexclusive-distrib...  ...  NaN    NaN

   subject  publication_type              field_of_study  \
3      NaN               NaN         High Energy Physics
18     NaN               NaN                  Statistics
14     NaN               NaN  Astronomy and Astrophysics

                             refined_authors  \
3                            Frank Nerling,
18             Siddhartha R. Dalal, Bing Han
14  José Edgar Madriz Aguilar, Carlos Romero

                            refined_publication_title  resolved_venue  \
3                     Meson spectroscopy with COMPASS         Unknown
18  Detection of radioactive material entering nat...         Unknown
14  Inducing the Cosmological Constant from Five-D...         Unknown

                         refined_venue  \
3   Progress in Particle and Nuclear …
18                             Unknown
14                             Unknown

                                  authors_with_gender
3                    Frank Nerling (male),  (unknown)
18        Siddhartha R. Dalal (male), Bing Han (male)
14  José Edgar Madriz Aguilar (male), Carlos Romer...

[3 rows x 27 columns]

In [135]:
df1.columns

Index(['id', 'submitter', 'authors', 'title', 'comments', 'journal-ref', 'doi',
       'report-no', 'categories', 'license', 'versions', 'update_date',
       'authors_parsed', 'publisher', 'published-print', 'published-online',
       'reference-count', 'type', 'bibtex', 'subject', 'publication_type',
       'field_of_study', 'refined_authors', 'refined_publication_title',
       'resolved_venue', 'refined_venue', 'authors_with_gender'],
      dtype='object')

In [142]:
# Create a database connection
engine = create_engine(f'postgresql://{user}:{pwd}@{host}:5434/{db}')

# Query to list all tables in the database
tables_query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
tables = pd.read_sql(tables_query, engine)
print("Tables in the database:", tables['table_name'].tolist())

Tables in the database: ['dim_title', 'dim_submitter', 'fact_publications', 'dim_journal_ref', 'dim_license', 'dim_field_of_study', 'publication_author_junction', 'dim_authors']

In [148]:
# Create a database connection
engine = create_engine(f'postgresql://{user}:{pwd}@{host}:5434/{db}')

# Get a glimpse of each table
for table in tables['table_name']:
    query = f'SELECT * FROM public."{table}" LIMIT 5'
    data = pd.read_sql(query, engine)
    print(f"\nTable: {table}")
    print(data)

Table: dim_title
   title_id                                              title  \
0         1  Constraining Sommerfeld Enhanced Annihilation ...
1         2  Quantum circuit for security proof of quantum ...
2         3  Majorana fermion chain at the Quantum Spin Hal...
3         4                    Meson spectroscopy with COMPASS
4         5  Dynamos in Stellar Convection Zones: of Wreath...

  refined_publication_title
0                      None
1                      None
2                      None
3                      None
4                      None

Table: dim_submitter
   submitter_id      submitter_name
0             1        Chiara Arina
1             2      Kiyoshi Tamaki
2             3  Vasudha Shivamoggi
3             4       Frank Nerling
4             5      Benjamin Brown

Table: fact_publications
                   publication_id  submitter_id  \
0  10.1016/j.physletb.2010.06.037             1
1      10.1103/PhysRevA.81.022316             2
2      10.1103/PhysRevB.82.041405             3
3  10.1088/1742-6596/312/3/032017             4
4  10.1088/1742-6596/271/1/012064             5

                              doi report_no  \
0  10.1016/j.physletb.2010.06.037      None
1      10.1103/PhysRevA.81.022316      None
2      10.1103/PhysRevB.82.041405      None
3  10.1088/1742-6596/312/3/032017      None
4  10.1088/1742-6596/271/1/012064      None

                                            comments publication_type  \
0  6 pages, 5 figures. v2: discussion on BBN cons...             None
1                 8 pages, 2 figures. Typo corrected             None
2                                 5 pages, 3 figures             None
3  6 pages, 6 figures, to appear in the proceedin...             None
4  10 pages, 5 figures, a4 format; proceedings fo...             None

   journal_ref_id  license_id  field_of_study_id
0             1.0           1                  1
1             2.0           1                  2
2             NaN           1                  3
3             3.0           1                  4
4             NaN           1                  1

Table: dim_journal_ref
   journal_ref_id                                        journal_ref  \
0               1                        Phys.Lett.B691:219-224,2010
1               2                     Phys. Rev. A 81, 022316 (2010)
2               3                    J.Phys.Conf.Ser.312:032017,2011
3               4  Discrete & Computational Geometry (2012) 48 : ...
4               5                     Astrophys.J.713:1037-1047,2010

  resolved_venue refined_venue
0           None          None
1           None          None
2           None          None
3           None          None
4           None          None

Table: dim_license
   license_id                                       license_type
0           1  http://arxiv.org/licenses/nonexclusive-distrib...
1           2        http://creativecommons.org/licenses/by/4.0/

Table: dim_field_of_study
   field_of_study_id                  field_name
0                  1  Astronomy and Astrophysics
1                  2             Quantum Physics
2                  3    Condensed Matter Physics
3                  4         High Energy Physics
4                  5                 Mathematics

Table: publication_author_junction
                   publication_id  author_id
0  10.1016/j.physletb.2010.06.037          1
1  10.1016/j.physletb.2010.06.037          2
2      10.1103/PhysRevA.81.022316          3
3      10.1103/PhysRevA.81.022316          4
4      10.1103/PhysRevB.82.041405          5

Table: dim_authors
   author_id                                        author_name gender
0          2    Francois-Xavier Josse-Michaux and Narendra Sahu   None
1          4                                        and Go Kato   None
2          8      Frank Nerling (for the COMPASS collaboration)   None
3          9  Benjamin P Brown (1) ((1) Department of Astron...   None
4         10                            University of Wisconsin   None

In [81]:
query = 'SELECT * FROM public."fact_publications"'
pd.read_sql(query, engine)

,publication_id,submitter_id,doi,report_no,comments,publication_type
0,10.1016/j.physletb.2010.06.037,41,10.1016/j.physletb.2010.06.037,None,"6 pages, 5 figures. v2: discussion on BBN cons...",None
1,10.1103/PhysRevA.81.022316,42,10.1103/PhysRevA.81.022316,None,"8 pages, 2 figures. Typo corrected",None
2,10.1103/PhysRevB.82.041405,43,10.1103/PhysRevB.82.041405,None,"5 pages, 3 figures",None
3,10.1088/1742-6596/312/3/032017,44,10.1088/1742-6596/312/3/032017,None,"6 pages, 6 figures, to appear in the proceedin...",None
4,10.1088/1742-6596/271/1/012064,45,10.1088/1742-6596/271/1/012064,None,"10 pages, 5 figures, a4 format; proceedings fo...",None
5,10.1007/s00454-012-9458-9,46,10.1007/s00454-012-9458-9,None,"34 pages, exposition improved following a revi...",None
6,10.1063/1.3460174,47,10.1063/1.3460174,None,"10 pages, 2 figures and 1 table; v2: one more ...",None
7,10.1088/0004-637X/713/2/1037,48,10.1088/0004-637X/713/2/1037,None,"16 pages, 8 figures, accepted Astrophysical Jo...",None
8,10.1103/PhysRevD.82.035018,49,10.1103/PhysRevD.82.035018,LBNL-3802E,Adds discussion of alternative fourth family m...,None
9,10.22331/q-2022-03-17-668,50,10.22331/q-2022-03-17-668,None,"26 pages, 5 figures",None
10,10.1103/PhysRevD.83.103001,51,10.1103/PhysRevD.83.103001,None,"7 pages, 7 figures",None
11,10.1086/522926,52,10.1086/522926,None,"7 pages, 8 figures, The Astrophysical Journal,...",None
12,10.1103/PhysRevA.81.013625,53,10.1103/PhysRevA.81.013625,None,accepted for Phys. Rev. A,None
13,10.1111/j.1745-3933.2008.00463.x,54,10.1111/j.1745-3933.2008.00463.x,None,"5 pages, 4 figures, accepted to MNRAS Letters",None
14,10.1007/s10701-009-9340-7,55,10.1007/s10701-009-9340-7,None,7 pages,None
15,10.3150/09-BEJ238,56,10.3150/09-BEJ238,IMS-BEJ-BEJ238,Published in at http://dx.doi.org/10.3150/09-B...,None
16,10.1016/j.jcrysgro.2009.09.042,57,10.1016/j.jcrysgro.2009.09.042,None,12 pages pdf http://dx.doi.org/10.1016/j.jcrys...,None
17,10.1002/pssb.200983021,58,10.1002/pssb.200983021,None,"4 pages, 3 figures, accepted for publication i...",None
18,10.1214/10-AOAS334,59,10.1214/10-AOAS334,IMS-AOAS-AOAS334,Published in at http://dx.doi.org/10.1214/10-A...,None
19,10.1103/PhysRevLett.106.193003,60,10.1103/PhysRevLett.106.193003,None,"4 pages, accepted for publication in Physical ...",None

## Questions

In [166]:
# Which submitters have contributed to each publication?
query = '''
SELECT fact_publications.publication_id, dim_submitter.submitter_name
FROM public."fact_publications"
JOIN public."dim_submitter" ON fact_publications.submitter_id = dim_submitter.submitter_id;
'''
pd.read_sql(query, engine)

2023-12-10 03:07:47,139 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:07:47,143 INFO sqlalchemy.engine.Engine [cached since 254.2s ago] {'name': '\nSELECT fact_publications.publication_id, dim_submitter.submitter_name\nFROM public."fact_publications"\nJOIN public."dim_submitter" ON fact_publications.submitter_id = dim_submitter.submitter_id;\n'}
2023-12-10 03:07:47,161 INFO sqlalchemy.engine.Engine
SELECT fact_publications.publication_id, dim_submitter.submitter_name
FROM public."fact_publications"
JOIN public."dim_submitter" ON fact_publications.submitter_id = dim_submitter.submitter_id;

2023-12-10 03:07:47,162 INFO sqlalchemy.engine.Engine [raw sql] {}

                      publication_id               submitter_name
0     10.1016/j.physletb.2010.06.037                 Chiara Arina
1         10.1103/PhysRevA.81.022316               Kiyoshi Tamaki
2         10.1103/PhysRevB.82.041405           Vasudha Shivamoggi
3     10.1088/1742-6596/312/3/032017                Frank Nerling
4     10.1088/1742-6596/271/1/012064               Benjamin Brown
5          10.1007/s00454-012-9458-9            Emanuele Delucchi
6                  10.1063/1.3460174            Lachezar Georgiev
7       10.1088/0004-637X/713/2/1037           Deborah B. Haarsma
8         10.1103/PhysRevD.82.035018            Michael Chanowitz
9          10.22331/q-2022-03-17-668                   Or Sattath
10        10.1103/PhysRevD.83.103001           Pedro Pina Avelino
11                    10.1086/522926              Marian Karlicky
12        10.1103/PhysRevA.81.013625                 Bludov Yuliy
13  10.1111/j.1745-3933.2008.00463.x                  Ryan Porter
14         10.1007/s10701-009-9340-7  Carlos Augusto Romero Filho
15                 10.3150/09-BEJ238                  Neal Madras
16    10.1016/j.jcrysgro.2009.09.042             Andrew Stewart M
17            10.1002/pssb.200983021              Sven Friedemann
18                10.1214/10-AOAS334          Siddhartha R. Dalal
19    10.1103/PhysRevLett.106.193003            Cecile Robilliard

In [167]:
# How many publications are there in each field of study?
query = '''
SELECT dim_field_of_study.field_name, COUNT(*) as publication_count
FROM public."fact_publications"
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
GROUP BY dim_field_of_study.field_name;
'''
pd.read_sql(query, engine)

2023-12-10 03:08:00,016 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:08:00,020 INFO sqlalchemy.engine.Engine [cached since 267s ago] {'name': '\nSELECT dim_field_of_study.field_name, COUNT(*) as publication_count\nFROM public."fact_publications"\nJOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id\nGROUP BY dim_field_of_study.field_name;\n'}
2023-12-10 03:08:00,049 INFO sqlalchemy.engine.Engine
SELECT dim_field_of_study.field_name, COUNT(*) as publication_count
FROM public."fact_publications"
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
GROUP BY dim_field_of_study.field_name;

2023-12-10 03:08:00,049 INFO sqlalchemy.engine.Engine [raw sql] {}

                   field_name  publication_count
0             Quantum Physics                  3
1    Condensed Matter Physics                  4
2                  Statistics                  1
3  Astronomy and Astrophysics                  7
4         High Energy Physics                  2
5                 Mathematics                  3

In [168]:
# Who are the authors who have published in 'High Energy Physics'?
query = '''
SELECT dim_authors.author_name
FROM public."dim_authors"
JOIN public."publication_author_junction" ON dim_authors.author_id = publication_author_junction.author_id
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
WHERE dim_field_of_study.field_name = 'High Energy Physics';
'''
pd.read_sql(query, engine)

2023-12-10 03:08:11,474 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:08:11,478 INFO sqlalchemy.engine.Engine [cached since 278.5s ago] {'name': '\nSELECT dim_authors.author_name\nFROM public."dim_authors"\nJOIN public."publication_author_junction" ON dim_authors.author_id = publication_author_ ... (161 characters truncated) ... tudy" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id\nWHERE dim_field_of_study.field_name = \'High Energy Physics\';\n'}
2023-12-10 03:08:11,484 INFO sqlalchemy.engine.Engine
SELECT dim_authors.author_name
FROM public."dim_authors"
JOIN public."publication_author_junction" ON dim_authors.author_id = publication_author_junction.author_id
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
WHERE dim_field_of_study.field_name = 'High Energy Physics';

2023-12-10 03:08:11,487 INFO sqlalchemy.engine.Engine [raw sql] {}

            author_name
0         Frank Nerling
1             (unknown)
2  Michael S. Chanowitz

In [169]:
# What publications do not have an associated journal reference?
query = '''
SELECT publication_id, title_id
FROM public."fact_publications"
WHERE journal_ref_id IS NULL;
'''
pd.read_sql(query, engine)

2023-12-10 03:08:32,242 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:08:32,247 INFO sqlalchemy.engine.Engine [cached since 299.3s ago] {'name': '\nSELECT publication_id, title_id\nFROM public."fact_publications"\nWHERE journal_ref_id IS NULL;\n'}
2023-12-10 03:08:32,253 INFO sqlalchemy.engine.Engine
SELECT publication_id, title_id
FROM public."fact_publications"
WHERE journal_ref_id IS NULL;

2023-12-10 03:08:32,254 INFO sqlalchemy.engine.Engine [raw sql] {}

                     publication_id  title_id
0        10.1103/PhysRevB.82.041405         3
1    10.1088/1742-6596/271/1/012064         5
2                 10.1063/1.3460174         7
3                    10.1086/522926        12
4  10.1111/j.1745-3933.2008.00463.x        14

In [170]:
# What are the license types for each publication?
query = '''
SELECT fact_publications.publication_id, dim_license.license_type
FROM public."fact_publications"
JOIN public."dim_license" ON fact_publications.license_id = dim_license.license_id;
'''
pd.read_sql(query, engine)

2023-12-10 03:08:54,670 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:08:54,672 INFO sqlalchemy.engine.Engine [cached since 321.7s ago] {'name': '\nSELECT fact_publications.publication_id, dim_license.license_type\nFROM public."fact_publications"\nJOIN public."dim_license" ON fact_publications.license_id = dim_license.license_id;\n'}
2023-12-10 03:08:54,689 INFO sqlalchemy.engine.Engine
SELECT fact_publications.publication_id, dim_license.license_type
FROM public."fact_publications"
JOIN public."dim_license" ON fact_publications.license_id = dim_license.license_id;

2023-12-10 03:08:54,690 INFO sqlalchemy.engine.Engine [raw sql] {}

,publication_id,license_type
0,10.1103/PhysRevLett.106.193003,http://arxiv.org/licenses/nonexclusive-distrib...
1,10.1214/10-AOAS334,http://arxiv.org/licenses/nonexclusive-distrib...
2,10.1002/pssb.200983021,http://arxiv.org/licenses/nonexclusive-distrib...
3,10.1016/j.jcrysgro.2009.09.042,http://arxiv.org/licenses/nonexclusive-distrib...
4,10.3150/09-BEJ238,http://arxiv.org/licenses/nonexclusive-distrib...
5,10.1007/s10701-009-9340-7,http://arxiv.org/licenses/nonexclusive-distrib...
6,10.1111/j.1745-3933.2008.00463.x,http://arxiv.org/licenses/nonexclusive-distrib...
7,10.1103/PhysRevA.81.013625,http://arxiv.org/licenses/nonexclusive-distrib...
8,10.1103/PhysRevD.83.103001,http://arxiv.org/licenses/nonexclusive-distrib...
9,10.1103/PhysRevD.82.035018,http://arxiv.org/licenses/nonexclusive-distrib...
10,10.1088/0004-637X/713/2/1037,http://arxiv.org/licenses/nonexclusive-distrib...
11,10.1063/1.3460174,http://arxiv.org/licenses/nonexclusive-distrib...
12,10.1007/s00454-012-9458-9,http://arxiv.org/licenses/nonexclusive-distrib...
13,10.1088/1742-6596/271/1/012064,http://arxiv.org/licenses/nonexclusive-distrib...
14,10.1088/1742-6596/312/3/032017,http://arxiv.org/licenses/nonexclusive-distrib...
15,10.1103/PhysRevB.82.041405,http://arxiv.org/licenses/nonexclusive-distrib...
16,10.1103/PhysRevA.81.022316,http://arxiv.org/licenses/nonexclusive-distrib...
17,10.1016/j.physletb.2010.06.037,http://arxiv.org/licenses/nonexclusive-distrib...
18,10.22331/q-2022-03-17-668,http://creativecommons.org/licenses/by/4.0/

In [171]:
# What is the gender distribution of the authors?
query = '''
SELECT author_name, gender
FROM public."dim_authors";
'''
pd.read_sql(query, engine)

2023-12-10 03:09:05,513 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:09:05,515 INFO sqlalchemy.engine.Engine [cached since 332.5s ago] {'name': '\nSELECT author_name, gender\nFROM public."dim_authors";\n'}
2023-12-10 03:09:05,535 INFO sqlalchemy.engine.Engine
SELECT author_name, gender
FROM public."dim_authors";

2023-12-10 03:09:05,535 INFO sqlalchemy.engine.Engine [raw sql] {}

                      author_name  gender
0                    Chiara Arina  female
1   François-Xavier Josse-Michaux    male
2                   Narendra Sahu    male
3                  Kiyoshi Tamaki    male
4                         Go Kato    male
..                            ...     ...
58                       Bing Han    male
59                       B. Pelle    None
60                      H. Bitard    male
61                      G. Bailly    male
62                  C. Robilliard  female

[63 rows x 2 columns]

In [172]:
# Which field of study is most common among the publications?
query = '''
SELECT dim_field_of_study.field_name, COUNT(*) as publication_count
FROM public."fact_publications"
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
GROUP BY dim_field_of_study.field_name
ORDER BY publication_count DESC
LIMIT 1;
'''
pd.read_sql(query, engine)

2023-12-10 03:09:18,072 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:09:18,076 INFO sqlalchemy.engine.Engine [cached since 345.1s ago] {'name': '\nSELECT dim_field_of_study.field_name, COUNT(*) as publication_count\nFROM public."fact_publications"\nJOIN public."dim_field_of_study" ON fact_publ ... (1 characters truncated) ... cations.field_of_study_id = dim_field_of_study.field_of_study_id\nGROUP BY dim_field_of_study.field_name\nORDER BY publication_count DESC\nLIMIT 1;\n'}
2023-12-10 03:09:18,101 INFO sqlalchemy.engine.Engine
SELECT dim_field_of_study.field_name, COUNT(*) as publication_count
FROM public."fact_publications"
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
GROUP BY dim_field_of_study.field_name
ORDER BY publication_count DESC
LIMIT 1;

2023-12-10 03:09:18,102 INFO sqlalchemy.engine.Engine [raw sql] {}

                   field_name  publication_count
0  Astronomy and Astrophysics                  7

In [173]:
# Which publications were made by 'Chiara Arina'?
query = '''
SELECT fact_publications.publication_id, dim_title.title
FROM public."dim_authors"
JOIN public."publication_author_junction" ON dim_authors.author_id = publication_author_junction.author_id
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
JOIN public."dim_title" ON fact_publications.title_id = dim_title.title_id
WHERE dim_authors.author_name = 'Chiara Arina';
'''
pd.read_sql(query, engine)

2023-12-10 03:09:32,897 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:09:32,899 INFO sqlalchemy.engine.Engine [cached since 359.9s ago] {'name': '\nSELECT fact_publications.publication_id, dim_title.title\nFROM public."dim_authors"\nJOIN public."publication_author_junction" ON dim_authors.autho ... (138 characters truncated) ... tions.publication_id\nJOIN public."dim_title" ON fact_publications.title_id = dim_title.title_id\nWHERE dim_authors.author_name = \'Chiara Arina\';\n'}
2023-12-10 03:09:32,903 INFO sqlalchemy.engine.Engine
SELECT fact_publications.publication_id, dim_title.title
FROM public."dim_authors"
JOIN public."publication_author_junction" ON dim_authors.author_id = publication_author_junction.author_id
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
JOIN public."dim_title" ON fact_publications.title_id = dim_title.title_id
WHERE dim_authors.author_name = 'Chiara Arina';

2023-12-10 03:09:32,904 INFO sqlalchemy.engine.Engine [raw sql] {}

,publication_id,title
0,10.1016/j.physletb.2010.06.037,Constraining Sommerfeld Enhanced Annihilation ...

In [174]:
# How many publications are there for each license type?
query = '''
SELECT dim_license.license_type, COUNT(*) as publication_count
FROM public."fact_publications"
JOIN public."dim_license" ON fact_publications.license_id = dim_license.license_id
GROUP BY dim_license.license_type;
'''
pd.read_sql(query, engine)

2023-12-10 03:09:43,688 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:09:43,691 INFO sqlalchemy.engine.Engine [cached since 370.7s ago] {'name': '\nSELECT dim_license.license_type, COUNT(*) as publication_count\nFROM public."fact_publications"\nJOIN public."dim_license" ON fact_publications.license_id = dim_license.license_id\nGROUP BY dim_license.license_type;\n'}
2023-12-10 03:09:43,695 INFO sqlalchemy.engine.Engine
SELECT dim_license.license_type, COUNT(*) as publication_count
FROM public."fact_publications"
JOIN public."dim_license" ON fact_publications.license_id = dim_license.license_id
GROUP BY dim_license.license_type;

2023-12-10 03:09:43,696 INFO sqlalchemy.engine.Engine [raw sql] {}

                                        license_type  publication_count
0  http://arxiv.org/licenses/nonexclusive-distrib...                 18
1        http://creativecommons.org/licenses/by/4.0/                  1

In [177]:
# What are the titles and comments of publications in a specific field of study, e.g., 'High Energy Physics'?
query = '''
SELECT dim_title.title, fact_publications.comments
FROM public."fact_publications"
JOIN public."dim_title" ON fact_publications.title_id = dim_title.title_id
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
WHERE dim_field_of_study.field_name = 'High Energy Physics';
'''
pd.read_sql(query, engine)

2023-12-10 03:11:43,166 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:11:43,167 INFO sqlalchemy.engine.Engine [cached since 490.2s ago] {'name': '\nSELECT dim_title.title, fact_publications.comments\nFROM public."fact_publications"\nJOIN public."dim_title" ON fact_publications.title_id = dim_ti ... (41 characters truncated) ... tudy" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id\nWHERE dim_field_of_study.field_name = \'High Energy Physics\';\n'}
2023-12-10 03:11:43,171 INFO sqlalchemy.engine.Engine
SELECT dim_title.title, fact_publications.comments
FROM public."fact_publications"
JOIN public."dim_title" ON fact_publications.title_id = dim_title.title_id
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
WHERE dim_field_of_study.field_name = 'High Energy Physics';

2023-12-10 03:11:43,172 INFO sqlalchemy.engine.Engine [raw sql] {}

,title,comments
0,Meson spectroscopy with COMPASS,"6 pages, 6 figures, to appear in the proceedin..."
1,Higgs Mass Constraints on a Fourth Family: Upp...,Adds discussion of alternative fourth family m...

In [179]:
# Who are the most active authors in 'Quantum Physics'?
query = '''
SELECT dim_authors.author_name, COUNT(publication_author_junction.author_id) as publication_count
FROM public."publication_author_junction"
JOIN public."dim_authors" ON publication_author_junction.author_id = dim_authors.author_id
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
WHERE dim_field_of_study.field_name = 'Quantum Physics'
GROUP BY dim_authors.author_name
ORDER BY publication_count DESC;
'''
pd.read_sql(query, engine)

2023-12-10 03:14:10,837 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:14:10,846 INFO sqlalchemy.engine.Engine [cached since 637.9s ago] {'name': '\nSELECT dim_authors.author_name, COUNT(publication_author_junction.author_id) as publication_count\nFROM public."publication_author_junction"\nJOIN  ... (291 characters truncated) ... dy.field_of_study_id\nWHERE dim_field_of_study.field_name = \'Quantum Physics\'\nGROUP BY dim_authors.author_name\nORDER BY publication_count DESC;\n'}
2023-12-10 03:14:11,339 INFO sqlalchemy.engine.Engine
SELECT dim_authors.author_name, COUNT(publication_author_junction.author_id) as publication_count
FROM public."publication_author_junction"
JOIN public."dim_authors" ON publication_author_junction.author_id = dim_authors.author_id
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
JOIN public."dim_field_of_study" ON fact_publications.field_of_study_id = dim_field_of_study.field_of_study_id
WHERE dim_field_of_study.field_name = 'Quantum Physics'
GROUP BY dim_authors.author_name
ORDER BY publication_count DESC;

2023-12-10 03:14:11,350 INFO sqlalchemy.engine.Engine [raw sql] {}

               author_name  publication_count
0                 B. Pelle                  1
1            C. Robilliard                  1
2           Dorit Aharonov                  1
3  Fernando G.S.L. Brandão                  1
4                G. Bailly                  1
5                  Go Kato                  1
6                H. Bitard                  1
7           Kiyoshi Tamaki                  1
8           Michael Ben-Or                  1
9               Or Sattath                  1

In [180]:
# Is there a correlation between the number of authors and the length of comments in publications?
query = '''
SELECT fact_publications.publication_id, 
       COUNT(publication_author_junction.author_id) as num_authors, 
       LENGTH(fact_publications.comments) as comment_length
FROM public."publication_author_junction"
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
GROUP BY fact_publications.publication_id;
'''
pd.read_sql(query, engine)

2023-12-10 03:14:25,653 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:14:25,658 INFO sqlalchemy.engine.Engine [cached since 652.7s ago] {'name': '\nSELECT fact_publications.publication_id, \n       COUNT(publication_author_junction.author_id) as num_authors, \n       LENGTH(fact_publications.co ... (79 characters truncated) ... ic."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id\nGROUP BY fact_publications.publication_id;\n'}
2023-12-10 03:14:25,671 INFO sqlalchemy.engine.Engine
SELECT fact_publications.publication_id,
       COUNT(publication_author_junction.author_id) as num_authors,
       LENGTH(fact_publications.comments) as comment_length
FROM public."publication_author_junction"
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
GROUP BY fact_publications.publication_id;

2023-12-10 03:14:25,672 INFO sqlalchemy.engine.Engine [raw sql] {}

                      publication_id  num_authors  comment_length
0          10.1007/s10701-009-9340-7            2               7
1     10.1088/1742-6596/271/1/012064            1             193
2     10.1016/j.jcrysgro.2009.09.042            3              61
3                  10.1063/1.3460174            4             216
4         10.1103/PhysRevD.83.103001            2              18
5         10.1103/PhysRevA.81.013625            2              25
6   10.1111/j.1745-3933.2008.00463.x            7              45
7                  10.3150/09-BEJ238            2             195
8         10.1103/PhysRevA.81.022316            2              34
9     10.1103/PhysRevLett.106.193003            4              60
10            10.1002/pssb.200983021            6              83
11                    10.1086/522926            1              67
12      10.1088/0004-637X/713/2/1037           10              51
13         10.1007/s00454-012-9458-9            2              83
14    10.1016/j.physletb.2010.06.037            3             157
15    10.1088/1742-6596/312/3/032017            2             138
16         10.22331/q-2022-03-17-668            4              19
17        10.1103/PhysRevB.82.041405            3              18
18                10.1214/10-AOAS334            2             187
19        10.1103/PhysRevD.82.035018            1             116

In [181]:
# What is the collaboration network among authors?
query = '''
SELECT a.author_name as author1, b.author_name as author2, COUNT(*) as collaboration_count
FROM public."publication_author_junction" pa1
JOIN public."publication_author_junction" pa2 ON pa1.publication_id = pa2.publication_id AND pa1.author_id < pa2.author_id
JOIN public."dim_authors" a ON pa1.author_id = a.author_id
JOIN public."dim_authors" b ON pa2.author_id = b.author_id
GROUP BY a.author_name, b.author_name
ORDER BY collaboration_count DESC;
'''
pd.read_sql(query, engine)

2023-12-10 03:14:40,476 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:14:40,479 INFO sqlalchemy.engine.Engine [cached since 667.5s ago] {'name': '\nSELECT a.author_name as author1, b.author_name as author2, COUNT(*) as collaboration_count\nFROM public."publication_author_junction" pa1\nJOIN pub ... (162 characters truncated) ...  a.author_id\nJOIN public."dim_authors" b ON pa2.author_id = b.author_id\nGROUP BY a.author_name, b.author_name\nORDER BY collaboration_count DESC;\n'}
2023-12-10 03:14:40,494 INFO sqlalchemy.engine.Engine
SELECT a.author_name as author1, b.author_name as author2, COUNT(*) as collaboration_count
FROM public."publication_author_junction" pa1
JOIN public."publication_author_junction" pa2 ON pa1.publication_id = pa2.publication_id AND pa1.author_id < pa2.author_id
JOIN public."dim_authors" a ON pa1.author_id = a.author_id
JOIN public."dim_authors" b ON pa2.author_id = b.author_id
GROUP BY a.author_name, b.author_name
ORDER BY collaboration_count DESC;

2023-12-10 03:14:40,495 INFO sqlalchemy.engine.Engine [raw sql] {}

                author1             author2  collaboration_count
0          R. L. Porter   R. J. R. Williams                    1
1        Monique Arnaud     Daniele Pierini                    1
2             G. Bailly       C. Robilliard                    1
3        Niels Oeschler        Zachary Fisk                    1
4    Deborah B. Haarsma      Monique Arnaud                    1
..                  ...                 ...                  ...
111       G. J. Ferland     R. M. Johnstone                    1
112  Deborah B. Haarsma    Gabriel W. Pratt                    1
113         Neal Madras         Deniz Sezer                    1
114     Andre Ahlbrecht  Reinhard F. Werner                    1
115            B. Pelle           H. Bitard                    1

[116 rows x 3 columns]

In [182]:
# What are the most common journals for each type of license?
query = '''
SELECT dim_license.license_type, dim_journal_ref.journal_ref, COUNT(*) as publication_count
FROM public."fact_publications"
JOIN public."dim_license" ON fact_publications.license_id = dim_license.license_id
JOIN public."dim_journal_ref" ON fact_publications.journal_ref_id = dim_journal_ref.journal_ref_id
GROUP BY dim_license.license_type, dim_journal_ref.journal_ref
ORDER BY dim_license.license_type, publication_count DESC;
'''
pd.read_sql(query, engine)

2023-12-10 03:14:52,667 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:14:52,670 INFO sqlalchemy.engine.Engine [cached since 679.7s ago] {'name': '\nSELECT dim_license.license_type, dim_journal_ref.journal_ref, COUNT(*) as publication_count\nFROM public."fact_publications"\nJOIN public."dim_lice ... (138 characters truncated) ... rnal_ref.journal_ref_id\nGROUP BY dim_license.license_type, dim_journal_ref.journal_ref\nORDER BY dim_license.license_type, publication_count DESC;\n'}
2023-12-10 03:14:52,706 INFO sqlalchemy.engine.Engine
SELECT dim_license.license_type, dim_journal_ref.journal_ref, COUNT(*) as publication_count
FROM public."fact_publications"
JOIN public."dim_license" ON fact_publications.license_id = dim_license.license_id
JOIN public."dim_journal_ref" ON fact_publications.journal_ref_id = dim_journal_ref.journal_ref_id
GROUP BY dim_license.license_type, dim_journal_ref.journal_ref
ORDER BY dim_license.license_type, publication_count DESC;

2023-12-10 03:14:52,706 INFO sqlalchemy.engine.Engine [raw sql] {}

,license_type,journal_ref,publication_count
0,http://arxiv.org/licenses/nonexclusive-distrib...,"Phys.Lett.B691:219-224,2010",1
1,http://arxiv.org/licenses/nonexclusive-distrib...,"Found.Phys.39:1205-1216,2009",1
2,http://arxiv.org/licenses/nonexclusive-distrib...,"Physical Review Letters 106, 19 (2011) 193003 ...",1
3,http://arxiv.org/licenses/nonexclusive-distrib...,"Phys.Rev.D83:103001,2011",1
4,http://arxiv.org/licenses/nonexclusive-distrib...,"J.Phys.Conf.Ser.312:032017,2011",1
5,http://arxiv.org/licenses/nonexclusive-distrib...,"Astrophys.J.713:1037-1047,2010",1
6,http://arxiv.org/licenses/nonexclusive-distrib...,Discrete & Computational Geometry (2012) 48 : ...,1
7,http://arxiv.org/licenses/nonexclusive-distrib...,"Phys. Rev. A 81, 022316 (2010)",1
8,http://arxiv.org/licenses/nonexclusive-distrib...,"Annals of Applied Statistics 2010, Vol. 4, No....",1
9,http://arxiv.org/licenses/nonexclusive-distrib...,"Bernoulli 2010, Vol. 16, No. 3, 882-908",1
10,http://arxiv.org/licenses/nonexclusive-distrib...,"Journal of Crystal Growth, 312 (3) 391-396 (2010)",1
11,http://arxiv.org/licenses/nonexclusive-distrib...,"Phys. Status Solidi B (2010) 247, 723-726",1
12,http://arxiv.org/licenses/nonexclusive-distrib...,"Physical Review A 81, 013625 (2010)",1
13,http://arxiv.org/licenses/nonexclusive-distrib...,"Phys. Rev. D:035018, 2010",1
14,http://creativecommons.org/licenses/by/4.0/,"Quantum 6, 668 (2022)",1

In [183]:
# Which are the top 5 most referenced publications?
query = '''
SELECT fact_publications.publication_id, fact_publications.doi, COUNT(*) as reference_count
FROM public."publication_author_junction"
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
GROUP BY fact_publications.publication_id
ORDER BY reference_count DESC
LIMIT 5;
'''
pd.read_sql(query, engine)

2023-12-10 03:15:30,179 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:15:30,183 INFO sqlalchemy.engine.Engine [cached since 717.2s ago] {'name': '\nSELECT fact_publications.publication_id, fact_publications.doi, COUNT(*) as reference_count\nFROM public."publication_author_junction"\nJOIN public ... (38 characters truncated) ... thor_junction.publication_id = fact_publications.publication_id\nGROUP BY fact_publications.publication_id\nORDER BY reference_count DESC\nLIMIT 5;\n'}
2023-12-10 03:15:30,202 INFO sqlalchemy.engine.Engine
SELECT fact_publications.publication_id, fact_publications.doi, COUNT(*) as reference_count
FROM public."publication_author_junction"
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
GROUP BY fact_publications.publication_id
ORDER BY reference_count DESC
LIMIT 5;

2023-12-10 03:15:30,203 INFO sqlalchemy.engine.Engine [raw sql] {}

,publication_id,doi,reference_count
0,10.1088/0004-637X/713/2/1037,10.1088/0004-637X/713/2/1037,10
1,10.1111/j.1745-3933.2008.00463.x,10.1111/j.1745-3933.2008.00463.x,7
2,10.1002/pssb.200983021,10.1002/pssb.200983021,6
3,10.1063/1.3460174,10.1063/1.3460174,4
4,10.1103/PhysRevLett.106.193003,10.1103/PhysRevLett.106.193003,4

In [184]:
# How has the number of publications trended over the years?
query = '''
SELECT EXTRACT(YEAR FROM to_date(fact_publications.doi, 'YYYY')) AS year, COUNT(*) as publication_count
FROM public."fact_publications"
GROUP BY year
ORDER BY year;
'''
pd.read_sql(query, engine)

2023-12-10 03:15:46,578 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:15:46,580 INFO sqlalchemy.engine.Engine [cached since 733.6s ago] {'name': '\nSELECT EXTRACT(YEAR FROM to_date(fact_publications.doi, \'YYYY\')) AS year, COUNT(*) as publication_count\nFROM public."fact_publications"\nGROUP BY year\nORDER BY year;\n'}
2023-12-10 03:15:46,598 INFO sqlalchemy.engine.Engine
SELECT EXTRACT(YEAR FROM to_date(fact_publications.doi, 'YYYY')) AS year, COUNT(*) as publication_count
FROM public."fact_publications"
GROUP BY year
ORDER BY year;

2023-12-10 03:15:46,599 INFO sqlalchemy.engine.Engine [raw sql] {}

   year  publication_count
0  10.0                 20

In [185]:
# What is the gender diversity in publications?
query = '''
SELECT fact_publications.publication_id, 
       SUM(CASE WHEN dim_authors.gender = 'male' THEN 1 ELSE 0 END) as male_authors,
       SUM(CASE WHEN dim_authors.gender = 'female' THEN 1 ELSE 0 END) as female_authors
FROM public."publication_author_junction"
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
JOIN public."dim_authors" ON publication_author_junction.author_id = dim_authors.author_id
GROUP BY fact_publications.publication_id;
'''
pd.read_sql(query, engine)

2023-12-10 03:15:59,152 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:15:59,156 INFO sqlalchemy.engine.Engine [cached since 746.2s ago] {'name': '\nSELECT fact_publications.publication_id, \n       SUM(CASE WHEN dim_authors.gender = \'male\' THEN 1 ELSE 0 END) as male_authors,\n       SUM(CASE  ... (219 characters truncated) ... lication_id\nJOIN public."dim_authors" ON publication_author_junction.author_id = dim_authors.author_id\nGROUP BY fact_publications.publication_id;\n'}
2023-12-10 03:15:59,196 INFO sqlalchemy.engine.Engine
SELECT fact_publications.publication_id,
       SUM(CASE WHEN dim_authors.gender = 'male' THEN 1 ELSE 0 END) as male_authors,
       SUM(CASE WHEN dim_authors.gender = 'female' THEN 1 ELSE 0 END) as female_authors
FROM public."publication_author_junction"
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
JOIN public."dim_authors" ON publication_author_junction.author_id = dim_authors.author_id
GROUP BY fact_publications.publication_id;

2023-12-10 03:15:59,199 INFO sqlalchemy.engine.Engine [raw sql] {}

                      publication_id  male_authors  female_authors
0          10.1007/s10701-009-9340-7             2               0
1     10.1088/1742-6596/271/1/012064             1               0
2     10.1016/j.jcrysgro.2009.09.042             2               0
3                  10.1063/1.3460174             4               0
4         10.1103/PhysRevD.83.103001             1               0
5         10.1103/PhysRevA.81.013625             0               1
6   10.1111/j.1745-3933.2008.00463.x             2               4
7                  10.3150/09-BEJ238             2               0
8         10.1103/PhysRevA.81.022316             2               0
9     10.1103/PhysRevLett.106.193003             2               1
10            10.1002/pssb.200983021             6               0
11                    10.1086/522926             0               1
12      10.1088/0004-637X/713/2/1037             6               4
13         10.1007/s00454-012-9458-9             1               1
14    10.1016/j.physletb.2010.06.037             2               1
15    10.1088/1742-6596/312/3/032017             1               0
16         10.22331/q-2022-03-17-668             3               1
17        10.1103/PhysRevB.82.041405             1               2
18                10.1214/10-AOAS334             2               0
19        10.1103/PhysRevD.82.035018             1               0

In [186]:
# What is the average number of authors per publication in each field of study?
query = '''
SELECT dim_field_of_study.field_name, AVG(author_count) as avg_authors_per_publication
FROM (
    SELECT fact_publications.field_of_study_id, fact_publications.publication_id, COUNT(publication_author_junction.author_id) as author_count
    FROM public."publication_author_junction"
    JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
    GROUP BY fact_publications.field_of_study_id, fact_publications.publication_id
) as publication_authors
JOIN public."dim_field_of_study" ON publication_authors.field_of_study_id = dim_field_of_study.field_of_study_id
GROUP BY dim_field_of_study.field_name;
'''
pd.read_sql(query, engine)

2023-12-10 03:16:23,930 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:16:23,931 INFO sqlalchemy.engine.Engine [cached since 771s ago] {'name': '\nSELECT dim_field_of_study.field_name, AVG(author_count) as avg_authors_per_publication\nFROM (\n    SELECT fact_publications.field_of_study_id, fac ... (374 characters truncated) ... ublic."dim_field_of_study" ON publication_authors.field_of_study_id = dim_field_of_study.field_of_study_id\nGROUP BY dim_field_of_study.field_name;\n'}
2023-12-10 03:16:23,976 INFO sqlalchemy.engine.Engine
SELECT dim_field_of_study.field_name, AVG(author_count) as avg_authors_per_publication
FROM (
    SELECT fact_publications.field_of_study_id, fact_publications.publication_id, COUNT(publication_author_junction.author_id) as author_count
    FROM public."publication_author_junction"
    JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
    GROUP BY fact_publications.field_of_study_id, fact_publications.publication_id
) as publication_authors
JOIN public."dim_field_of_study" ON publication_authors.field_of_study_id = dim_field_of_study.field_of_study_id
GROUP BY dim_field_of_study.field_name;

2023-12-10 03:16:23,978 INFO sqlalchemy.engine.Engine [raw sql] {}

                   field_name  avg_authors_per_publication
0             Quantum Physics                     3.333333
1    Condensed Matter Physics                     3.500000
2                  Statistics                     2.000000
3  Astronomy and Astrophysics                     3.714286
4         High Energy Physics                     1.500000
5                 Mathematics                     2.666667

In [188]:
# Who are the top 5 most active submitters?
query = '''
SELECT dim_submitter.submitter_name, COUNT(*) as publication_count
FROM public."dim_submitter"
JOIN public."fact_publications" ON dim_submitter.submitter_id = fact_publications.submitter_id
GROUP BY dim_submitter.submitter_name
ORDER BY publication_count DESC
LIMIT 5;
'''
pd.read_sql(query, engine)

2023-12-10 03:17:05,638 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:17:05,641 INFO sqlalchemy.engine.Engine [cached since 812.7s ago] {'name': '\nSELECT dim_submitter.submitter_name, COUNT(*) as publication_count\nFROM public."dim_submitter"\nJOIN public."fact_publications" ON dim_submitter.submitter_id = fact_publications.submitter_id\nGROUP BY dim_submitter.submitter_name\nORDER BY publication_count DESC\nLIMIT 5;\n'}
2023-12-10 03:17:05,676 INFO sqlalchemy.engine.Engine
SELECT dim_submitter.submitter_name, COUNT(*) as publication_count
FROM public."dim_submitter"
JOIN public."fact_publications" ON dim_submitter.submitter_id = fact_publications.submitter_id
GROUP BY dim_submitter.submitter_name
ORDER BY publication_count DESC
LIMIT 5;

2023-12-10 03:17:05,677 INFO sqlalchemy.engine.Engine [raw sql] {}

       submitter_name  publication_count
0         Ryan Porter                  1
1  Deborah B. Haarsma                  1
2     Sven Friedemann                  1
3        Bludov Yuliy                  1
4     Marian Karlicky                  1

In [189]:
# What is the distribution of different types of publications?
query = '''
SELECT publication_type, COUNT(*) as count
FROM public."fact_publications"
GROUP BY publication_type;
'''
pd.read_sql(query, engine)

2023-12-10 03:17:14,769 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:17:14,773 INFO sqlalchemy.engine.Engine [cached since 821.8s ago] {'name': '\nSELECT publication_type, COUNT(*) as count\nFROM public."fact_publications"\nGROUP BY publication_type;\n'}
2023-12-10 03:17:14,787 INFO sqlalchemy.engine.Engine
SELECT publication_type, COUNT(*) as count
FROM public."fact_publications"
GROUP BY publication_type;

2023-12-10 03:17:14,788 INFO sqlalchemy.engine.Engine [raw sql] {}

  publication_type  count
0             None     20

In [190]:
# Which fields of study have the most publications?
query = '''
SELECT dim_field_of_study.field_name, COUNT(public."fact_publications".publication_id) as publication_count
FROM public."dim_field_of_study"
JOIN public."fact_publications" ON dim_field_of_study.field_of_study_id = fact_publications.field_of_study_id
GROUP BY dim_field_of_study.field_name
ORDER BY publication_count DESC;
'''
pd.read_sql(query, engine)

2023-12-10 03:17:23,266 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:17:23,270 INFO sqlalchemy.engine.Engine [cached since 830.3s ago] {'name': '\nSELECT dim_field_of_study.field_name, COUNT(public."fact_publications".publication_id) as publication_count\nFROM public."dim_field_of_study"\nJOIN ... (32 characters truncated) ... im_field_of_study.field_of_study_id = fact_publications.field_of_study_id\nGROUP BY dim_field_of_study.field_name\nORDER BY publication_count DESC;\n'}
2023-12-10 03:17:23,274 INFO sqlalchemy.engine.Engine
SELECT dim_field_of_study.field_name, COUNT(public."fact_publications".publication_id) as publication_count
FROM public."dim_field_of_study"
JOIN public."fact_publications" ON dim_field_of_study.field_of_study_id = fact_publications.field_of_study_id
GROUP BY dim_field_of_study.field_name
ORDER BY publication_count DESC;

2023-12-10 03:17:23,274 INFO sqlalchemy.engine.Engine [raw sql] {}

                   field_name  publication_count
0  Astronomy and Astrophysics                  7
1    Condensed Matter Physics                  4
2             Quantum Physics                  3
3                 Mathematics                  3
4         High Energy Physics                  2
5                  Statistics                  1

In [191]:
# Which authors have publications in multiple fields of study?
query = '''
SELECT dim_authors.author_name, COUNT(DISTINCT fact_publications.field_of_study_id) as field_count
FROM public."dim_authors"
JOIN public."publication_author_junction" ON dim_authors.author_id = publication_author_junction.author_id
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
GROUP BY dim_authors.author_name
HAVING COUNT(DISTINCT fact_publications.field_of_study_id) > 1;
'''
pd.read_sql(query, engine)

2023-12-10 03:17:34,821 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:17:34,823 INFO sqlalchemy.engine.Engine [cached since 841.9s ago] {'name': '\nSELECT dim_authors.author_name, COUNT(DISTINCT fact_publications.field_of_study_id) as field_count\nFROM public."dim_authors"\nJOIN public."publica ... (152 characters truncated) ... ublication_id = fact_publications.publication_id\nGROUP BY dim_authors.author_name\nHAVING COUNT(DISTINCT fact_publications.field_of_study_id) > 1;\n'}
2023-12-10 03:17:34,842 INFO sqlalchemy.engine.Engine
SELECT dim_authors.author_name, COUNT(DISTINCT fact_publications.field_of_study_id) as field_count
FROM public."dim_authors"
JOIN public."publication_author_junction" ON dim_authors.author_id = publication_author_junction.author_id
JOIN public."fact_publications" ON publication_author_junction.publication_id = fact_publications.publication_id
GROUP BY dim_authors.author_name
HAVING COUNT(DISTINCT fact_publications.field_of_study_id) > 1;

2023-12-10 03:17:34,843 INFO sqlalchemy.engine.Engine [raw sql] {}

Empty DataFrame
Columns: [author_name, field_count]
Index: []

In [192]:
# What are the longest publications based on the length of their comments?
query = '''
SELECT dim_title.title, LENGTH(fact_publications.comments) as comment_length
FROM public."fact_publications"
JOIN public."dim_title" ON fact_publications.title_id = dim_title.title_id
ORDER BY comment_length DESC
LIMIT 5;
'''
pd.read_sql(query, engine)

2023-12-10 03:17:46,082 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-12-10 03:17:46,083 INFO sqlalchemy.engine.Engine [cached since 853.1s ago] {'name': '\nSELECT dim_title.title, LENGTH(fact_publications.comments) as comment_length\nFROM public."fact_publications"\nJOIN public."dim_title" ON fact_publications.title_id = dim_title.title_id\nORDER BY comment_length DESC\nLIMIT 5;\n'}
2023-12-10 03:17:46,106 INFO sqlalchemy.engine.Engine
SELECT dim_title.title, LENGTH(fact_publications.comments) as comment_length
FROM public."fact_publications"
JOIN public."dim_title" ON fact_publications.title_id = dim_title.title_id
ORDER BY comment_length DESC
LIMIT 5;

2023-12-10 03:17:46,106 INFO sqlalchemy.engine.Engine [raw sql] {}

                                               title  comment_length
0  Monodromy analysis of the computational power ...             216
1  Quantitative bounds for Markov chain convergen...             195
2  Dynamos in Stellar Convection Zones: of Wreath...             193
3  Detection of radioactive material entering nat...             187
4  Constraining Sommerfeld Enhanced Annihilation ...             157